# hidden directories
.idea

__pycache__
logic/__pycache__
service/__pycache__
logic/auth/__pycache__
logic/changes/__pycache__
service/repository/__pycache__
presentation/__pycache__
presentation/api/__pycache__
presentation/models/__pycache__
venv
client_secret.json
discord_secret.json
github_secret.json