.truncate-text {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.parallax {
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
.mouse-parallax {
  height: 885px;
  position: relative;
  overflow: hidden;
}
.mouse-parallax-bg {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 126%;
  height: 125%;
  transition: all 0.1s ease;
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  margin:0 auto 0;
}
.menu_board{
    position: relative;
}
.menu_board_detail{
    position: absolute;
    bottom: 0;
    margin-bottom: -90px;
    margin-right: 55px;
    right: 0;
}
.menu_board_detail2{
    position: absolute;
    bottom: 0;
    margin-bottom: -90px;
    margin-right: 55px;
    right: 0;
}
.li_dropitem{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_item{
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.link_item:hover{
    background: #d3d3d3;
}
.text_dropitem{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    transition: all 0.2s ease;
    white-space: nowrap;
}