.scale {
    transition: 0.5s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
}
.scale2 {
    transition: 0.5s; /* Время эффекта */
}
.scale2:hover {
    transform: scale(1.02); /* Увеличиваем масштаб */
}