{% extends 'base_aut.html' %}

{% block title %}
<title>Лекция</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <form action="/course_editor/{{course_id}}/article_constructor/{{unit_id}}" method="POST">
            <span class="fs-5 row m-3 justify-content-start lang">
                Составление статьи
            </span>
            <div class="row border"></div>
            <textarea required class="form-control" maxlength="1000" placeholder="Название статьи" name="articleName" rows="1" style="margin: 8px;"></textarea>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <span class="fw-bolder fs-5 row m-3 justify-content-start lang">
                                    Ввод статьи (в Markdown)
                                </span>
                                <div class="row border"></div>
                                <br>
                                <div class="form-outline">
                                    <textarea class="form-control" maxlength="15000" id="textAreaExample" name="Article" rows="6"></textarea>
                                    <label class="form-label" for="textAreaExample">Текст статьи</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <span class="fw-bolder fs-5 row m-3 justify-content-start lang">
                                    Превью вашей статьи
                                </span>
                                <div class="row border"></div>
                                <br>
                                <div>
                                    <p id="1"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit"
                            id="saveTest" style=
                            "background-color:yellowgreen; margin: 10px;">
                            Сохранить статью
            </button>
        </form>
    </div>
</div>
<script>

    var input = document.getElementById('textAreaExample')
    input.oninput = function() {
        $.ajax({
            url: '/api/rendermd',
            method: 'post',
            dataType: 'html',
            contentType:'application/json',
            data: JSON.stringify({text: input.value}),
            success: function(data){
                document.getElementById('1').innerHTML = data;
            }
        });

    }

</script>
{% endblock %}