{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ course.name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item active lang" key="course_summary" aria-current="page">Сводка о курсе</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>
        <div align="center">
            <button disabled class="btn btn-primary lang" key="show_tasks" id="show_results">Задания курса</button>
            <button class="btn btn-primary lang" key="leaders_table" id="show_leaders">Таблица лидеров</button>
            <button class="btn btn-primary lang" key="progress_graphic" id="show_graphics">График прогресса</button>
            <button class="btn btn-primary lang" key="friends_progress" id="show_friends">Прогресс друзей</button>
        </div>
        <br>
            <table class="table" id="test-results">
                <thead>
                    <tr><th class="lang" key="course_unit">Элемент курса</th><th class="lang" key="tesk_type">Тип</th><th class="lang" key="status">Статус</th><th class="lang" key="mark">Оценка</th></tr>
                </thead>
                <tbody>
                    {% set notAllowed = namespace(value=0) %}
                    {% for unit in course.content.body %}
                        <td colspan="4" align="center"><strong><text class="lang" key="unit">Раздел</text> «{{ unit.name }}»</strong></td>
                        {% for unit_test in unit.tests %}
                            {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                {%  if notAllowed.value > 0 %}
                                    <tr>
                                {% else %}
                                    {% if unit_test.unit_type == "test" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/test_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "article" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/article/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "link" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/link/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "file_attach" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/file_attach_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "forum" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/forum_list/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% endif %}
                                {% endif %}
                                {% set notAllowed.value = notAllowed.value + 1 %}
                            {% else %}
                                {% if unit_test.unit_type == "test" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/test_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "article" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/article/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "link" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/link/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "file_attach" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/file_attach_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "forum" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/forum_list/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% endif %}
                            {% endif %}

                                <td>
                                    {{unit_test.test.content.name}}
                                </td>
                                <td>
                                    {% if unit_test.unit_type == "test" %}
                                        <text class="lang" key="test">Тест</text>
                                    {% elif unit_test.unit_type == "article" %}
                                        <text class="lang" key="article">Статья</text>
                                    {% elif unit_test.unit_type == "link" %}
                                        <text class="lang" key="link">Ссылка</text>
                                    {% elif unit_test.unit_type == "file_attach" %}
                                        <text class="lang" key="file_attach">Файл</text>
                                    {% elif unit_test.unit_type == "forum" %}
                                        <text class="lang" key="forum">Форум</text>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if results[unit_test.test.test_id|string + unit_test.unit_type] == True %}
                                        <text class="lang" key="done">Завершено</text>
                                    {% elif results[unit_test.test.test_id|string + unit_test.unit_type] == False %}
                                        <text class="lang" key="checking">На проверке</text>
                                    {% else %}
                                        <text class="lang" key="not_done">Не выполнено</text>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if unit_test.unit_type in ("test", "file_attach", "forum") and results[unit_test.test.test_id|string + unit_test.unit_type] == True %}
                                        {% if marks[unit_test.test_id|string+unit_test.unit_type] %}
                                            {{ marks[unit_test.test_id|string+unit_test.unit_type]|round(2, 'common') }} / {{ max_marks[unit_test.test_id|string+unit_test.unit_type] }}
                                        {% else %}
                                            {{ marks[unit_test.test_id|string+unit_test.unit_type] }} / {{ max_marks[unit_test.test_id|string+unit_test.unit_type] }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr> <!-- style="background: #80008010" -->
                        <td colspan="3">
                            <strong><text class="lang" key="unit_result">Итог раздела</text> «{{ unit.name }}»</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ units_cur[unit.unit_id]|round(2, 'common') }} / {{ units_max[unit.unit_id] }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr> <!-- style="background: #80008040" -->
                        <td colspan="3">
                            <strong class="lang" key="result">Итог</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ total|round(2, 'common') }} / {{ total_max }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        <div class="table" id="leaders-table" hidden="hidden">
            {% set userNum = namespace(value=3) %}
            {% set firstPlace = namespace(value=0) %}
            {% set secondPlace = namespace(value=0) %}
            {% set thirdPlace = namespace(value=0) %}
            {% set otherPlace = namespace(value=0) %}
            <span class="fw-bolder fs-5 row m-3 justify-content-start lang">
                <div>
                    <text class="lang" key="leaders_table">Таблица лидеров</text> ♕
                </div>
            </span>
            <table class="table">
                <thead>
                    <tr><th class="lang" key="place">Место</th><th class="lang" key="user">Пользователь</th><th class="lang" key="best_mark_">Высшая оценка</th></tr>
                </thead>
                <tbody>
                    {% for leader, result in leaders.items() %}

                        {% if firstPlace.value <= result %}
                            {% set firstPlace.value = result %}
                        {% elif secondPlace.value <= result %}
                            {% set secondPlace.value = result %}
                        {% elif thirdPlace.value <= result %}
                            {% set thirdPlace.value = result %}
                            {% set otherPlace.value = result %}
                        {% elif otherPlace.value > result %}
                            {% set otherPlace.value = result %}
                            {% set userNum.value = userNum.value + 1 %}
                        {% endif %}
                        <tr style="
                        {% if leader == user.username %}
                            background: #80008040
                        {% elif result == firstPlace.value %}
                            background: #ffd70066
                        {% elif result == secondPlace.value %}
                            background: #C0C0C066
                        {% elif result == thirdPlace.value %}
                            background: #cd7f3266
                        {% endif %}
                        ">
                            <td>
                                {% if result == firstPlace.value %}
                                    <p style="font-size: 28px;">🥇</p>
                                {% elif result == secondPlace.value %}
                                    <p style="font-size: 28px;">🥈</p>
                                {% elif result == thirdPlace.value %}
                                    <p style="font-size: 28px;">🥉</p>
                                {% else %}
                                    {{ userNum.value }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="/profiles/{{ leaders_hrefs[leader] }}">{{ leader }}</a>
                            </td>
                            <td>
                                {{ result|round(2, 'common') }} / {{ leaders_total_score[leader] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="progress-graphics" hidden="hidden">
            <span class="fw-bolder fs-5 row m-3 justify-content-start lang" key="graphic_desc">
                График распределения пользователей по высшей оценке
            </span>
            <div>
              <canvas id="myChart"></canvas>
            </div>
            <script>
                let labels = []
                let data = []
                {% for key, value in graphic_data.items() %}
                    labels.push({{key}})
                    data.push({{value}})
                {% endfor %}
              const ctx = document.getElementById('myChart');
              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: labels,
                  datasets: [{
                    label: 'Количество пользователей',
                    data: data,
                    borderWidth: 2
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                        title: {
                          display: true,
                          text: 'Количесвто пользователей'
                        }
                    },
                    x: {
                        title: {
                          display: true,
                          text: 'Количесвто набранных баллов'
                        }
                    }
                  }
                }
              });
            </script>
        </div>

        <div id="subscribers-table" hidden="hidden">
            {% set userNum = namespace(value=3) %}
            {% set firstPlace = namespace(value=0) %}
            {% set secondPlace = namespace(value=0) %}
            {% set thirdPlace = namespace(value=0) %}
            {% set otherPlace = namespace(value=0) %}
            <span class="fw-bolder fs-5 row m-3 justify-content-start lang" key="friends_table_desc">
                Таблица лидеров среди друзей, на кого вы подписаны
            </span>
            <table class="table">
                <thead>
                    <tr><th class="lang" key="place">Место</th><th class="lang" key="user">Пользователь</th><th class="lang" key="best_mark_">Высшая оценка</th></tr>
                </thead>
                <tbody>
                    {% for leader, result in friends.items() %}

                        {% if firstPlace.value <= result %}
                            {% set firstPlace.value = result %}
                        {% elif secondPlace.value <= result %}
                            {% set secondPlace.value = result %}
                        {% elif thirdPlace.value <= result %}
                            {% set thirdPlace.value = result %}
                            {% set otherPlace.value = result %}
                        {% elif otherPlace.value > result %}
                            {% set otherPlace.value = result %}
                            {% set userNum.value = userNum.value + 1 %}
                        {% endif %}
                        <tr style="
                        {% if leader == user.username %}
                            background: #80008040
                        {% elif result == firstPlace.value %}
                            background: #ffd70066
                        {% elif result == secondPlace.value %}
                            background: #C0C0C066
                        {% elif result == thirdPlace.value %}
                            background: #cd7f3266
                        {% endif %}
                        ">
                            <td>
                                {% if result == firstPlace.value %}
                                    <p style="font-size: 28px;">🥇</p>
                                {% elif result == secondPlace.value %}
                                    <p style="font-size: 28px;">🥈</p>
                                {% elif result == thirdPlace.value %}
                                    <p style="font-size: 28px;">🥉</p>
                                {% else %}
                                    {{ userNum.value }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="/profiles/{{ leaders_hrefs[leader] }}">{{ leader }}</a>
                            </td>
                            <td>
                                {{ result|round(2, 'common') }} / {{ leaders_total_score[leader] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="module" src="/static/js/test_preview.js"></script>
<script type="module" src="/static/js/dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}