{% extends 'base_aut.html' %}

{% block title%}
<title>Курсы</title>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start lang" key="my_subscriptions">
            Мои курсы
        </span>
        <div class="row border"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <form action="/courses/{{ user_id }}" method="post">
                        <div class="input-group mb-4">
                            <input id="text"
                                   type="text"
                                   class="form-control"
                                   placeholder="Поиск курсов"
                                   name="query"
                            />
                            <button class="btn btn-outline-secondary" type="submit" id="find" data-mdb-ripple-color="dark">
                                <i class="fas fa-search ms-0" style="color: #676767"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {% if found %}
                <p class="mt-2 lang" key="founded_by_request">Найдено по запросу:</p>
                            <hr>
                {% for course in found %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <a href="/course_preview/{{ course.course_id }}" ><img alt="" style="width: 120px; height: 120px" class="rounded-circle" src="/courseava/{{ course.course_id }}"></a>
                                    <div class="ms-4">
                                        <a class="fw-bold mb-1 lang" href="/course_preview/{{ course.course_id }}" style="color: #676767">{{course.name}}</a>
                                        <p class="text-muted mb-0">{{course.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
                    <hr>
            {% if user.courses and not found %}
                <p class="mt-2 lang" key="users_courses">Пользовательские курсы</p>
                {% for course in user.courses %}
                     <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <a href="/course_preview/{{ course.course_id }}" ><img alt="" style="width: 120px; height: 120px" class="rounded-circle" src="/courseava/{{ course.course_id }}"></a>
                                    <div class="ms-4">
                                        <a class="fw-bold mb-1 lang" href="/course_preview/{{ course.course_id }}" style="color: #676767">{{course.name}}</a>
                                        <p class="text-muted mb-0">{{course.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <hr>
    </div>
        <!--<form action="/course_constructor">-->
            <div id="div_element_button" style="margin-right: 8px;">
                <button class="btn btn-outline-dark btn-rounded lang" id="subscribe-button" style="display: inline-block; margin-bottom: 8px;" data-mdb-target="#addCourse" data-mdb-toggle="modal" key="create_course">Создать курс</button>
            </div>
        <!--<</form>-->
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/courses.js"></script>
{% endblock %}

{% block modal_dialog %}
    <div class="modal fade" id="addCourse" tabindex="-1">
      <div class="modal-dialog modal-side">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" id="exampleModalLabel" key="course_creation">Создание курса</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
              <div class="modal-body lang" key="enter_course_data">Введите данные курса:</div>
                <form id="form1" action="/create_course/{{user.user_id}}" method="POST">
                    <textarea required class="form-control" maxlength="1000" placeholder="Название" name="courseName" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
                    <textarea required class="form-control" maxlength="5000" placeholder="Описание" name="description" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
                    <textarea required class="form-control" maxlength="1000" placeholder="Категория" name="category" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
                <!-- <form id="form2" action="/create_course/{{user.user_id}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control" id="customFile" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"/>
                </form> -->
                    <div class="modal-footer">
                          <button type="submit" class="btn badge-primary lang" key="create" style="border-radius: 25px ">Создать</button>
                    </div>
                </form>
        </div>
      </div>
    </div>
{% endblock modal_dialog %}