{% extends 'base_aut.html' %}

{% block title%}
<title>Курс - {{ course.name }}</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="row m-3 justify-content-start lang">
            Курс
        </span>
        <div class="row border"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <img src="/courseava/{{ course.course_id }}" alt="" style="width: 120px; height: 120px" class="rounded-circle"/>
                                    <div class="ms-4">
                                        <p class="fw-bold mb-1 lang">{{ course.name }}</p>
                                        <p class="text-muted mb-0">{{ course.category }}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around">
                                    {% if course.can_subscribe %}
                                            <form action="/api/joincourse/{{ course.course_id }}">
                                                <div id="div_element_button">
                                                    <button type="submit" class="btn btn-outline-dark btn-rounded lang" id="subscribe-button">Подписаться</button>
                                                </div>
                                            </form>
                                    {% elif not course.can_subscribe %}
                                            <form action="/course/{{course.course_id}}">
                                                <div id="div_element_button" style="margin-right: 8px;">
                                                    <button class="btn btn-outline-dark btn-rounded lang" id="subscribe-button" style="display: inline-block;">Перейти на курс</button>
                                                </div>
                                            </form>
                                            <form action="/api/leavecourse/{{course.course_id}}">
                                                <div id="div_element_button">
                                                    <button class="btn btn-outline-dark btn-rounded lang" id="subscribe-button" style="display: inline-block;">Отписаться</button>
                                                </div>
                                            </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div style="display: flex;">
                                <form action="/course_editor/{{course.course_id}}">
                                    <div id="div_element_button" style="margin-right: 8px;">
                                        <button class="btn btn-outline-dark btn-rounded lang" id="edit-button" style="display: inline-block;">Редактировать курс</button>
                                    </div>
                                </form>
                                <form action="/delete_course/{{course.course_id}}" method="POST">
                                    <div id="div_element_button" style="margin-right: 8px;">
                                        <button class="btn btn-outline-dark btn-rounded lang" id="delete-button" style="display: inline-block;">Удалить курс</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col mb-8">
                    <div class="container">
                        <div class="">
                            <span class="row justify-content-start lang " style="padding: 0 0 20px 10px">
                                Описание
                            </span>
                            <div class="row border mb-4"></div>
                            <div>
                                {{ course.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
