{% extends 'base_aut.html' %}

{% block title%}
<title>Курсы</title>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="row m-3 justify-content-start lang">
            Мои курсы
        </span>
        <div class="row border"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <form action="/courses/{{ user_id }}" method="post">
                        <div class="input-group mb-4">
                            <input id="text"
                                   type="text"
                                   class="form-control"
                                   placeholder="Поиск курсов"
                                   name="query"
                            />
                            <button class="btn btn-outline-secondary" type="submit" id="find" data-mdb-ripple-color="dark">
                                <i class="fas fa-search ms-0" style="color: #676767"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {% if found %}
                <p class="mt-2">Найдено по запросу:</p>
                            <hr>
                {% for course in found %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <a href="/course_preview/{{ course.course_id }}" ><img alt="" style="width: 120px; height: 120px" class="rounded-circle" src="/courseava/{{ course.course_id }}"></a>
                                    <div class="ms-4">
                                        <a class="fw-bold mb-1 lang" href="/course_preview/{{ course.course_id }}" style="color: #676767">{{course.name}}</a>
                                        <p class="text-muted mb-0">{{course.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
                    <hr>
            {% if user.courses and not found %}
                <p class="mt-2">Пользовательские курсы</p>
                {% for course in user.courses %}
                     <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <a href="/course_preview/{{ course.course_id }}" ><img alt="" style="width: 120px; height: 120px" class="rounded-circle" src="/courseava/{{ course.course_id }}"></a>
                                    <div class="ms-4">
                                        <a class="fw-bold mb-1 lang" href="/course_preview/{{ course.course_id }}" style="color: #676767">{{course.name}}</a>
                                        <p class="text-muted mb-0">Курс по вышиванию варешек</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <hr>
    </div>



    </div>
</div>
{% endblock %}