{% extends 'base_aut.html' %}

{% block title%}
<title>Курс - {{ course.name }}</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="row m-3 justify-content-start lang">
            Курс
        </span>
        <div class="row border"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <img src="/courseava/{{ course.course_id }}" alt="" style="width: 120px; height: 120px" class="rounded-circle"/>
                                    <div class="ms-4">
                                        <p class="fw-bold mb-1 lang">{{ course.name }}</p>
                                        <p class="text-muted mb-0">{{ course.category }}</p>
                                    </div>
                                    {% if average_rate > 0 %}
                                        <div class="ms-4" style="padding-left: 80px;">
                                            Рейтинг курса: {{average_rate}} <i class="far fa-star star fas rate-active"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="d-flex justify-content-around">
                                    {% if course.can_subscribe %}
                                            <form action="/api/joincourse/{{ course.course_id }}">
                                                <div id="div_element_button">
                                                    <button type="submit" class="btn btn-outline-dark btn-rounded lang" id="subscribe-button">Подписаться</button>
                                                </div>
                                            </form>
                                    {% elif not course.can_subscribe %}
                                            <form action="/course/{{course.course_id}}">
                                                <div id="div_element_button" style="margin-right: 8px;">
                                                    <button class="btn btn-outline-dark btn-rounded lang" id="subscribe-button" style="display: inline-block;">Перейти на курс</button>
                                                </div>
                                            </form>
                                            <form action="/api/leavecourse/{{course.course_id}}">
                                                <div id="div_element_button">
                                                    <button class="btn btn-outline-dark btn-rounded lang" id="subscribe-button" style="display: inline-block;">Отписаться</button>
                                                </div>
                                            </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div style="display: flex;">
                                <form action="/course_editor/{{course.course_id}}">
                                    <div id="div_element_button" style="margin-right: 8px;">
                                        <button class="btn btn-outline-dark btn-rounded lang" id="edit-button" style="display: inline-block;">Редактировать курс</button>
                                    </div>
                                </form>
                                <form action="/delete_course/{{course.course_id}}" method="POST">
                                    <div id="div_element_button" style="margin-right: 8px;">
                                        <button class="btn btn-outline-dark btn-rounded lang" id="delete-button" style="display: inline-block;">Удалить курс</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col mb-8">
                    <div class="container">
                        <div class="">
                            <span class="row m-3 justify-content-start lang">
                                Описание
                            </span>
                            <div class="row border mb-4"></div>
                            <div>
                                {{ course.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="" style="text-align: center; padding-bottom: 25px;">
                {% if user_review.rate %}
                    <p id="feedback">Спасибо за отзыв!</p>
                {% else %}
                    <p id="feedback">Как вам данный курс? <br> Оставьте свой отзыв:</p>
                {% endif %}
                <div class="stars">
                    <label class="rate" id="star11">
                        <input type="radio" name="radio1" id="star1" value="star1">
                        <div class="face"></div>
                        {% if user_review.rate == 1 %}
                            <i class="fa-star star one-star fas rate-active"></i>
                        {% elif user_review.rate > 1 %}
                            <i class="fa-star star one-star fas"></i>
                        {% else %}
                            <i class="far fa-star star one-star"></i>
                        {% endif %}
                    </label>
                    <label class="rate" id="star22">
                        <input type="radio" name="radio1" id="star2" value="star2">
                        <div class="face"></div>
                        {% if user_review.rate == 2 %}
                            <i class="fa-star star two-star fas rate-active"></i>
                        {% elif user_review.rate > 2 %}
                            <i class="fa-star star two-star fas"></i>
                        {% else %}
                            <i class="far fa-star star two-star"></i>
                        {% endif %}
                    </label>
                    <label class="rate" id="star33">
                        <input type="radio" name="radio1" id="star3" value="star3">
                        <div class="face"></div>
                        {% if user_review.rate == 3 %}
                            <i class="fa-star star three-star fas rate-active"></i>
                        {% elif user_review.rate > 3 %}
                            <i class="fa-star star three-star fas"></i>
                        {% else %}
                            <i class="far fa-star star three-star"></i>
                        {% endif %}
                    </label>
                    <label class="rate" id="star44">
                        <input type="radio" name="radio1" id="star4" value="star4">
                        <div class="face"></div>
                        {% if user_review.rate == 4 %}
                            <i class="fa-star star four-star fas rate-active"></i>
                        {% elif user_review.rate > 4 %}
                            <i class="fa-star star four-star fas"></i>
                        {% else %}
                            <i class="far fa-star star four-star"></i>
                        {% endif %}
                    </label>
                    <label class="rate" id="star55">
                        <input type="radio" name="radio1" id="star5" value="star5">
                        <div class="face"></div>
                        {% if user_review.rate == 5 %}
                            <i class="fa-star star five-star fas rate-active"></i>
                        {% elif user_review.rate > 5 %}
                            <i class="fa-star star four-star fas"></i>
                        {% else %}
                            <i class="far fa-star star five-star"></i>
                        {% endif %}
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {

        $(document).on({
            mouseover: function(event) {
                $(this).find('.far').addClass('star-over');
                $(this).prevAll().find('.far').addClass('star-over');
            },
            mouseleave: function(event) {
                $(this).find('.far').removeClass('star-over');
                $(this).prevAll().find('.far').removeClass('star-over');
            }
        }, '.rate');

        $(document).on('click', '.rate', function() {
            if ( !$(this).find('.star').hasClass('rate-active') ) {
                $(this).siblings().find('.star').addClass('far').removeClass('fas rate-active');
                $(this).find('.star').addClass('rate-active fas').removeClass('far star-over');
                $(this).prevAll().find('.star').addClass('fas').removeClass('far star-over');

                rate_to_send = document.getElementById($(this).attr('id').substring(0, 5)).value.substring(4)
                url = '/api/set_rating/' + {{course.course_id}}
                $.ajax({
                    url: url,
                    method: 'post',
                    dataType: 'html',
                    contentType:'application/json',
                    data: JSON.stringify({rate: rate_to_send}),
                    success: function(data){
                        document.getElementById('feedback').innerHTML = data;
                    }
                });
            }
        });

    });
</script>
<style>
    body {
        background: #ebefff;
    }
    .stars {
        width: fit-content;
        margin: 0 auto;
        cursor: pointer;
    }
    .star {
        color: #91a6ff !important;
    }
    .rate {
        height: 50px;
        margin-left: -5px;
        padding: 5px;
        font-size: 25px;
        position: relative;
        cursor: pointer;
    }
    .rate input[type="radio"] {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);
        pointer-events: none;
    }
    .star-over::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 16px;
        content: "\f005";
        display: inline-block;
        color: #d3dcff;
        z-index: 1;
        position: absolute;
        top: 17px;
        left: 10px;
    }

    .rate:nth-child(1) .face::after {
        content: "\f119"; /* ☹ */
    }
    .rate:nth-child(2) .face::after {
        content: "\f11a"; /* 😐 */
    }
    .rate:nth-child(3) .face::after {
        content: "\f118"; /* 🙂 */
    }
    .rate:nth-child(4) .face::after {
        content: "\f580"; /* 😊 */
    }
    .rate:nth-child(5) .face::after {
        content: "\f59a"; /* 😄 */
    }
    .face {
        opacity: 0;
        position: absolute;
        width: 35px;
        height: 35px;
        background: #91a6ff;
        border-radius: 5px;
        top: -50px;
        left: 2px;
        transition: 0.2s;
        pointer-events: none;
    }
    .face::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f0dd";
        display: inline-block;
        color: #91a6ff;
        z-index: 1;
        position: absolute;
        left: 9px;
        bottom: -15px;
    }
    .face::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        display: inline-block;
        color: #fff;
        z-index: 1;
        position: absolute;
        left: 5px;
        top: -1px;
    }

    .rate:hover .face {
        opacity: 1;
    }

    /* Not sure if I like this or not. */
    /* Makes the emoji stay displayed */
    /* input[type="radio"]:checked + .face {
        opacity: 1 !important;
    } */
</style>
{% endblock %}
