<script src="../static/js/base_auth.js"></script>{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ course.name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses"">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item active lang" key="course_summary" aria-current="page">Сводка о курсе</li>
          </ol>
        </nav>
        <div class="row border"></div>
            <table class="table">
                <tbody>
                    <tr><th class="lang" key="course_unit">Элемент курса</th><th class="lang" key="tesk_type">Тип</th><th class="lang" key="status">Статус</th><th class="lang" key="mark">Оценка</th></tr>
                    {% set notAllowed = namespace(value=0) %}
                    {% for unit in course.content.body %}
                        <td colspan="4" align="center"><strong><text class="lang" key="unit">Раздел</text> «{{ unit.name }}»</strong></td>
                        {% for unit_test in unit.tests %}
                            {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                {%  if notAllowed.value > 0 %}
                                    <tr>
                                {% else %}
                                    {% if unit_test.unit_type == "test" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/test_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "article" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/article/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "link" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/link/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% elif unit_test.unit_type == "file_attach" %}
                                        <tr onclick="location.href='/course/{{course.course_id}}/file_attach_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                    {% endif %}
                                {% endif %}
                                {% set notAllowed.value = notAllowed.value + 1 %}
                            {% else %}
                                {% if unit_test.unit_type == "test" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/test_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "article" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/article/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "link" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/link/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% elif unit_test.unit_type == "file_attach" %}
                                    <tr onclick="location.href='/course/{{course.course_id}}/file_attach_preview/{{unit_test.test.test_id}}'" style="cursor: pointer;">
                                {% endif %}
                            {% endif %}

                                <td>
                                    {{unit_test.test.content.name}}
                                </td>
                                <td>
                                    {% if unit_test.unit_type == "test" %}
                                        <text class="lang" key="test">Тест</text>
                                    {% elif unit_test.unit_type == "article" %}
                                        <text class="lang" key="article">Статья</text>
                                    {% elif unit_test.unit_type == "link" %}
                                        <text class="lang" key="link">Ссылка</text>
                                    {% elif unit_test.unit_type == "file_attach" %}
                                        <text class="lang" key="file_attach">Файл</text>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if results[unit_test.test.test_id|string + unit_test.unit_type] == True %}
                                        <text class="lang" key="done">Завершено</text>
                                    {% elif results[unit_test.test.test_id|string + unit_test.unit_type] == False %}
                                        <text class="lang" key="checking">На проверке</text>
                                    {% else %}
                                        <text class="lang" key="not_done">Не выполнено</text>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if unit_test.unit_type in ("test", "file_attach") and results[unit_test.test.test_id|string + unit_test.unit_type] == True %}
                                        {{ marks[unit_test.test_id|string+unit_test.unit_type] }} / {{ max_marks[unit_test.test_id|string+unit_test.unit_type] }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr> <!-- style="background: #80008010" -->
                        <td colspan="3">
                            <strong><text class="lang" key="unit_result">Итог раздела</text> «{{ unit.name }}»</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ units_cur[unit.unit_id] }} / {{ units_max[unit.unit_id] }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr> <!-- style="background: #80008040" -->
                        <td colspan="3">
                            <strong class="lang" key="result">Итог</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ total }} / {{ total_max }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}