{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;" id="main-container">
        <form action="/update_course/{{course.course_id}}" enctype="multipart/form-data" method="POST" id="sendingForm">
            <span class="fs-5 row m-3 justify-content-start lang" key="course_editing">Редактирование курса</span>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-left: 15px;">
                <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
                <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
                <li class="breadcrumb-item active lang" key="course_editing" aria-current="page">Редактирование курса</li>
              </ol>
            </nav>
            <span class="fs-5 row m-3 justify-content-start lang">
                <textarea required class="form-control toSend langp" key="course_name" maxlength="1000" placeholder="Название курса" name="courseName" id="courseName" rows="1">{{ course.name }}</textarea>
                <textarea required style="margin-top: 8px;" class="form-control toSend langp" key="course_desc" maxlength="1000" placeholder="Описание курса" name="courseDesc" rows="3">{{ course.description }}</textarea>
                <textarea required style="margin-top: 8px;" class="form-control toSend langp" key="course_cat" maxlength="1000" placeholder="Категория" name="courseCat" rows="1">{{ course.category }}</textarea>
                <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px; ">
                    <img class="border border-2 rounded w-100" src="/courseava/{{ course.course_id }}" style="max-width: 290px; margin: 0 auto;">
                    <div style="max-width: 290px; margin: 0 auto;">
                        <input type="file" name="file" class="form-control" id="customFile" accept=".png,.jpg,.jpeg"/>
                    </div>
                    <div style="color: gray; font-size: 14px; text-align: center;" class="lang" key="file_note">*Изображение должно иметь расширение png, jpg или jpeg и размер не более 2Мб</div>
                </div>
            </span>
            <div class="row border" id="units_list">
                {% for unit in course.content.body %}
                    <div id="unit-{{unit.unit_id}}" class="unit_div">
                        <div class="row border"></div>
                        <span class="fw-bolder fs-5 row m-3 justify-content-center lang">
                            <div style="display: flex;">
                                <textarea required class="form-control toSend langp" key="unit_name" maxlength="1000" placeholder="Название раздела" name="unitName-{{unit.unit_id}}" rows="1" id="{{ unit.name }}">{{ unit.name }}</textarea>
                                <div style="height: 30px; justify-content: center; display: flex;">
                                    <img src="../static/img/drag_n_drop.png" style="height: 40px; transform: rotate(90deg);" draggable="true" id="{{unit.unit_id}}" class="dnd-units">
                                </div>
                                <button type="button" id="delete-unit-button" style="background: transparent; border: transparent;" data-mdb-target="#delete-{{unit.unit_id}}" data-mdb-toggle="modal">
                                    <img src="https://cdn-icons-png.flaticon.com/512/9790/9790368.png" width="35px;" >
                                </button>
                            </div>
                        </span>
                        <div class="row border"></div>
                        <br>
                        <div class="container">
                            <div class="row" id="unit_tests-{{unit.unit_id}}">
                                {% for unit_test in unit.tests %}
                                    <div class="col-lg-4 col-md-6 mb-4 test_div toSend-{{unit.unit_id}} {{unit_test.unit_type}}-{{ unit_test.test.test_id }}" id="unit_test-{{ unit_test.test.test_id }}">
                                        {% if unit_test.test.avatar == None %}
                                            <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');" id="{{unit.unit_id}}">
                                        {% elif unit_test.unit_type == "test" %}
                                            <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/testava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                                        {% elif unit_test.unit_type in ("article", "file_attach") %}
                                            <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/articleava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                                        {% elif unit_test.unit_type == "link" %}
                                            <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/linkava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                                        {% elif unit_test.unit_type == "forum" %}
                                            <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/forumava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                                        {% endif %}
                                            <div class="card-body text-white">
                                                <div style="position:absolute; top:-2px; left:185px; height: 30px; justify-content: center; display: flex;" id="dnd-{{ unit_test.test.test_id }}" class="{{ unit_test.test.test_id }}" draggable="true" >
                                                    <img src="../static/img/drag_n_drop.png" style="height: 35px;" class="dnd {{ unit_test.test.test_id }}" id="{{ unit_test.test.test_id }}">
                                                </div>
                                                <h5 class="card-title" style="text-shadow: 2px 2px 2px black;">{{unit_test.test.content.name}}</h5>
                                                <div style="position:absolute;top:8px; right:8px">
                                                    <button id="delete-button" style="background: transparent; border: transparent;" type="button" data-mdb-target="#deleteTest-{{unit_test.test_id}}" data-mdb-toggle="modal">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/9790/9790368.png" width="35px;" >
                                                    </button>
                                                </div>
                                                <input hidden="hidden" name="task-{{unit_test.unit_type}}-{{unit_test.test.test_id}}" value="{{unit_test.unit_type}}-{{unit_test.test.test_id}}">
                                                <p class="card-text">
                                                    {% if unit_test.test.description != None %}
                                                        <div style="text-shadow: 2px 2px 2px black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{unit_test.test.description}}</div>
                                                    {% else %}
                                                        <text class="lang" key="desc" style="text-shadow: 2px 2px 2px black;">Описание</text>
                                                    {% endif %}

                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    {% if unit_test.unit_type == "test" %}
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" disabled class="btn btn-outline-light lang" key="test" id="test-button">Тест</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/tests_check/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="check" id="check-button">Проверка</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/tests_edit/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="edit" id="edit-button">Редактировать</button>
                                                    {% elif unit_test.unit_type == "article" %}
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" disabled class="btn btn-outline-light lang" key="article" id="lection-button">Статья</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/article_editor/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="edit" id="edit-button">Редактировать</button>
                                                    {% elif unit_test.unit_type == "link" %}
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" disabled class="btn btn-outline-light lang" key="link" id="lection-button">Ссылка</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/link_editor/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="edit" id="edit-button">Редактировать</button>
                                                    {% elif unit_test.unit_type == "file_attach" %}
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" disabled class="btn btn-outline-light lang" key="file_attach" id="lection-button">Файл</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/file_attach_check/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="check" id="check-button">Проверка</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/file_attach_editor/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="edit" id="edit-button">Редактировать</button>
                                                    {% elif unit_test.unit_type == "forum" %}
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" disabled class="btn btn-outline-light lang" key="forum" id="lection-button">Форум</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/forum_check/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="check" id="check-button">Проверка</button>
                                                        <button style="text-shadow: 2px 2px 2px black;" type="button" onclick="location.href='/course_editor/{{course.course_id}}/forum_editor/{{unit_test.test.test_id}}'"  class="btn btn-outline-light lang" key="edit" id="edit-button">Редактировать</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                                        <button type="button" class="card-body text-white" style="background: transparent; border: transparent;" data-mdb-target="#addTask-{{unit.unit_id}}" data-mdb-toggle="modal">
                                            <h1 style="font-size: 84px; text-align: center;">+</h1>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row border" id="insert-place"></div>
            <br>
            <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                <button type="button" class="card-body text-white" style="background: transparent; border: transparent;" data-mdb-target="#addUnit" data-mdb-toggle="modal">
                    <h1 style="font-size: 84px; text-align: center;">+</h1>
                </button>
            </div>
            <br>
            <div class="row border" id="insert-place"></div>
            <button class="btn btn-primary lang" key="save_course" type="submit"
                            id="saveTest" style=
                            "background-color:yellowgreen; margin-bottom: 18px; margin-top: 18px;"
                            onclick="submitForm()">
                            Сохранить курс
            </button>
        </form>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="/static/js/course_editor.js"></script>
<script type="module" src="/static/js/upload_file_size_limit.js"></script>
{% endblock %}


{% block modal_dialog %}
    {% for unit in course.content.body %}
        <div class="modal fade" id="addTask-{{unit.unit_id}}" tabindex="-1">
          <div class="modal-dialog modal-side">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lang" id="exampleModalLabel1" key="task_creation">Создание задания</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/course_editor/{{course.course_id}}/create_task/{{unit.unit_id}}" method="POST">
                  <div class="modal-body lang" key="choose_task_type">Выберите тип создаваемого задания:</div>
                    <div style="display: flex; justify-content: center;">
                        <input id="checkbox-test" type="radio" name="TaskType" value="test">
                        <label for="checkbox-test" class="lang" key="test" style="margin-left: 5px; font-size: 20px;">Тест</label>
                        <input id="checkbox-article" type="radio" name="TaskType" value="article" style="margin-left: 20px;">
                        <label for="checkbox-article" class="lang" key="article" style="margin-left: 5px; font-size: 20px;">Статья</label>
                        <input id="checkbox-link" type="radio" name="TaskType" value="link" style="margin-left: 20px;">
                        <label for="checkbox-link" class="lang" key="link" style="margin-left: 5px; font-size: 20px;">Ссылка</label>
                        <input id="checkbox-file" type="radio" name="TaskType" value="file_attach" style="margin-left: 20px;">
                        <label for="checkbox-file" class="lang" key="file_attach" style="margin-left: 5px; font-size: 20px;">Файл</label>
                        <input id="checkbox-forum" type="radio" name="TaskType" value="forum" style="margin-left: 20px;">
                        <label for="checkbox-forum" class="lang" key="forum" style="margin-left: 5px; font-size: 20px;">Форум</label>
                    </div>
                  <div class="modal-footer">
                        <button type="submit" class="btn badge-primary lang" key="create" style="border-radius: 25px">Создать</button>
                  </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="delete-{{unit.unit_id}}" tabindex="-1">
          <div class="modal-dialog modal-side">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_unit">Подтверждение удаления раздела</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body"><text class="lang" key="are_u_sure_delete_unit">Вы точно хотите удалить раздел</text> «{{ unit.name }}»?</div>
              <div class="modal-footer">
                <form action="/delete_unit/{{course.course_id}}/{{unit.unit_id}}" method="POST">
                    <button type="submit" class="btn badge-danger lang" key="delete" style="border-radius: 25px" href="/logout">Удалить</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% for unit_test in unit.tests %}
            <div class="modal fade" id="deleteTest-{{unit_test.test_id}}" tabindex="-1">
              <div class="modal-dialog modal-side">
                <div class="modal-content">
                  <div class="modal-header">
                      {% if unit_test.unit_type == "test" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_test">Подтверждение удаления теста</h5>
                      {% elif unit_test.unit_type == "article" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_article">Подтверждение удаления статьи</h5>
                      {% elif unit_test.unit_type == "link" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_link">Подтверждение удаления ссылки</h5>
                      {% elif unit_test.unit_type == "file_attach" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_file_attach">Подтверждение удаления файла</h5>
                      {% elif unit_test.unit_type == "forum" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirm_delete_forum">Подтверждение удаления форума</h5>
                      {% endif %}
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                    {% if unit_test.unit_type == "test" %}
                        <div class="modal-body"><text class="lang" key="are_u_sure_delete_test">Вы точно хотите удалить тест</text> «{{ unit_test.test.content.name }}»?</div>
                    {% elif unit_test.unit_type == "article" %}
                        <div class="modal-body"><text class="lang" key="are_u_sure_delete_article">Вы точно хотите удалить статью</text> «{{ unit_test.test.content.name }}»?</div>
                    {% elif unit_test.unit_type == "link" %}
                        <div class="modal-body"><text class="lang" key="are_u_sure_delete_link">Вы точно хотите удалить ссылку</text> «{{ unit_test.test.content.name }}»?</div>
                    {% elif unit_test.unit_type == "file_attach" %}
                        <div class="modal-body"><text class="lang" key="are_u_sure_delete_file_attach">Вы точно хотите удалить файл</text> «{{ unit_test.test.content.name }}»?</div>
                    {% elif unit_test.unit_type == "forum" %}
                        <div class="modal-body"><text class="lang" key="are_u_sure_delete_forum">Вы точно хотите удалить форум</text> «{{ unit_test.test.content.name }}»?</div>
                    {% endif %}
                  <div class="modal-footer">
                    {% if unit_test.unit_type == "test" %}
                        <form action="/delete_test/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% elif unit_test.unit_type in ("article", "file_attach") %}
                        <form action="/delete_article/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% elif unit_test.unit_type == "link" %}
                        <form action="/delete_link/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% elif unit_test.unit_type == "forum" %}
                        <form action="/delete_forum/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% endif %}
                        <button type="submit" class="btn badge-danger lang" key="delete" style="border-radius: 25px">Удалить</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="modal fade" id="addUnit" tabindex="-1">
      <div class="modal-dialog modal-side">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" id="exampleModalLabel" key="unit_creation">Создание раздела</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/course_editor/{{course.course_id}}" method="POST">
              <div class="modal-body lang" key="enter_unit_name">Введите название раздела:</div>
                <textarea required class="form-control langp" key="unit_name" maxlength="1000" placeholder="Название раздела" name="newUnitName" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
              <div class="modal-footer">
                    <button type="submit" class="btn badge-primary lang" key="create" style="border-radius: 25px">Создать</button>
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock modal_dialog %}