{% extends 'base_aut.html' %}

{% block title%}
<title>Достижения курса {{course.name}}</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start">
            <div>
                <text key="course_achievements" class="lang">Достижения курса</text> {{course.name}}
            </div>
        </span>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin-left: 15px;">
        <li class="breadcrumb-item" ><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
        <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
        <li class="breadcrumb-item active lang"key="course_achievements" aria-current="page">Достижения курса</li>
      </ol>
    </nav>
      {% for achievement in achievements %}
    <div class="row border"></div>
    <div class="d-flex">
		  <div class="container border border-1 rounded m-5" style="background-color: white;">
			  <img class="border border-2 rounded w-100" src="/achievementava/{{ achievement.ach_id }}" align="left" style="max-width: 330px; ">
			  <label class="labels" style="padding-top: 25px; padding-left: 10px;">{{ achievement.name }}</label><br>
			  <label class="labels" style="padding-top: 25px; padding-left: 10px;">{{ achievement.description }}</label><br>
              <label class="labels" style="padding-top: 10px; padding-left: 10px;"><strong class="lang" key="achievement_condition_demand">Для получения достижения необходимо:</strong></label>
                <br>
              {% for condition in achievement.conditions %}
                {% if condition.condition == 'completion fact' %}
                    <label class="labels" style="padding-top: 10px; padding-left: 10px;">
                        <i>
                            Выполнить следующие
                            {% if condition.task_category == 'tasks' %}
                                задания:
                            {% elif condition.task_category == 'units' %}
                                разделы:
                            {% endif %}
                            {% for task in condition.tasks %}
                                {{task}};
                            {% endfor %}
                        </i>
                    </label>
                {% elif condition.condition == 'score' %}
                    <label class="labels" style="padding-top: 10px; padding-left: 10px;">
                        <i>
                            Получить оценку
                            {% if condition.val_amount == '>' %}
                                больше
                            {% elif condition.val_amount == '=' %}
                                равную
                            {% elif condition.val_amount == '<' %}
                                меньше
                            {% endif %}
                            {{condition.value}}% за выполнение следующих
                            {% if condition.task_category == 'tasks' %}
                                заданий:
                            {% elif condition.task_category == 'units' %}
                                разделов:
                            {% endif %}
                            {% for task in condition.tasks %}
                                {{task}};
                            {% endfor %}
                        </i>
                    </label>
                {% elif condition.condition == 'time spent' %}
                    <label class="labels" style="padding-top: 10px; padding-left: 10px;">
                        <i>
                            Выполнить следующие
                            {% if condition.task_category == 'tasks' %}
                                задания
                            {% elif condition.task_category == 'units' %}
                                разделы
                            {% endif %}
                            быстрее, чем за {{condition.time}}:
                            {% for task in condition.tasks %}
                                {{task}};
                            {% endfor %}
                        </i>
                    </label>
                {% endif %}
                <br>
              {% endfor %}
		  </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/achievements.js"></script>
<script>
  $('.carousel').carousel()
</script>
{% endblock %}
