{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;" id="main-container">
        <span class="fs-5 row m-3 justify-content-start lang">
            <textarea required class="form-control" maxlength="1000" placeholder="Название курса" name="courseName" rows="1">{{ course.name }}</textarea>
        </span>
        <div class="row border"></div>
        {% for unit in course.content %}
            <div>
                <div class="row border"></div>
                <span class="fw-bolder fs-5 row m-3 justify-content-center lang">
                    <textarea required class="form-control" maxlength="1000" placeholder="Название раздела" name="courseName" rows="1">{{ unit.name }}</textarea>
                </span>
                <div class="row border"></div>
                <br>
            </div>
            <div class="container">
                <div class="row">
                    {% for unit_test in unit.tests %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                                <div class="card-body text-white">
                                    <h5 class="card-title">{{unit_test.test.content.name}}</h5>
                                    <p class="card-text">
                                        Ответьте на вопросы и получите приз
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        {% if unit_test.unit_type == "test" %}
                                            <button disabled class="btn btn-outline-light" id="test-button">Тест</button>
                                        {% else %}
                                            <button disabled class="btn btn-outline-light" id="lection-button">Лекция</button>
                                        {% endif %}
                                        <form action="/tests_edit/{{unit_test.test.test_id}}">
                                            <button class="btn btn-outline-light" id="edit-button">Редактировать</button>
                                        </form>
                                        <span class="badge rounded-pill badge-warning" style="padding: 11px">Не закончен</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <form action="/course/{{course.course_id}}/test_constructor/{{unit.unit_id}}">
                            <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                                <button class="card-body text-white" style="background: transparent; border: transparent;">
                                    <h1 style="font-size: 84px; text-align: center;">+</h1>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row border" id="insert-place"></div>
        <br>
        <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
            <button class="card-body text-white" style="background: transparent; border: transparent;" onclick="addUnitOnButtonClick()">
                <h1 style="font-size: 84px; text-align: center;">+</h1>
            </button>
        </div>
    </div>
</div>

<script>
    function addUnitOnButtonClick() {
            let mainContainer = document.getElementById("main-container")
            let insPlace = document.getElementById("insert-place")
            let div = document.createElement('div');
            let br = document.createElement('br');
            let row_border_div = document.createElement('div');
            row_border_div.setAttribute('class', "row border");
            let span = document.createElement('span');
            span.setAttribute('class', "fw-bolder fs-5 row m-3 justify-content-center lang");
            let textarea = document.createElement('textarea');
            textarea.setAttribute('class', "form-control");
            textarea.setAttribute('placeholder', "Название раздела");
            textarea.setAttribute('maxlength', '1000');
            textarea.setAttribute('rows', "1");
            textarea.setAttribute('required', 'true');
            let row_border_div1 = document.createElement('div');
            row_border_div1.setAttribute('class', "row border");
            let div_container = document.createElement('div');
            div_container.setAttribute('class', "container");
            let div_row = document.createElement('div');
            div_row.setAttribute('class', "row");
            let div_col = document.createElement('div');
            div_col.setAttribute('class', "col-lg-4 col-md-6 mb-4");
            let form = document.createElement('form');
            form.setAttribute('action', "/course/{{course.course_id}}/test_constructor/1");
            let div_mb = document.createElement('div');
            div_mb.setAttribute('class', "mb-2 bg-image card shadow-1-strong");
            div_mb.setAttribute('style', "background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');");
            let button = document.createElement('button');
            button.setAttribute('class', "card-body text-white");
            button.setAttribute('style', "background: transparent; border: transparent;");
            let h1 = document.createElement('h1');
            h1.textContent = "+"
            h1.setAttribute('style', "font-size: 84px; text-align: center;");

            div.appendChild(row_border_div)
            div.appendChild(span)
            span.appendChild(textarea)
            div.appendChild(row_border_div1)
            div.appendChild(br)
            div_container.appendChild(div_row)
            div_row.appendChild(div_col)
            div_col.appendChild(form)
            form.appendChild(div_mb)
            div_mb.appendChild(button)
            button.appendChild(h1)
            mainContainer.insertBefore(div, insPlace);
            mainContainer.insertBefore(div_container, insPlace);
        }
</script>
{% endblock %}