{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;" id="main-container">
        <!-- <form action="" method="POST"> -->
            <span class="fs-5 row m-3 justify-content-start lang" key="reviews">Редактирование курса</span>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-left: 15px;">
                <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}">Курсы</a></li>
                <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}">Курс «{{ course.name }}»</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование курса</li>
              </ol>
            </nav>
            <span class="fs-5 row m-3 justify-content-start lang">
                <textarea required class="form-control toSend" maxlength="1000" placeholder="Название курса" name="courseName" id="courseName" rows="1">{{ course.name }}</textarea>
                <textarea required style="margin-top: 8px;" class="form-control toSend" maxlength="1000" placeholder="Описание курса" name="courseDesc" rows="3">{{ course.description }}</textarea>
                <textarea required style="margin-top: 8px;" class="form-control toSend" maxlength="1000" placeholder="Категория" name="courseCat" rows="1">{{ course.category }}</textarea>
                <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px; ">
                    <img class="border border-2 rounded w-100" src="/courseava/{{ course.course_id }}" style="max-width: 290px; margin: 0 auto;">
                    <form action="/upload_course_ava/{{ course.course_id }}" method="POST" enctype="multipart/form-data" style="max-width: 290px; margin: 0 auto;">
                        <input type="file" name="file" class="form-control" id="customFile" />
                        <a><button class="btn border border-2 w-100 lang" key="changeava" type="submit">Сменить аватар</button></a>
                    </form>
                </div>
            </span>
            <div class="row border" id="units_list">
                {% for unit in course.content.body %}
                    <div id="unit-{{unit.unit_id}}" class="unit_div">
                        <div class="row border"></div>
                        <span class="fw-bolder fs-5 row m-3 justify-content-center lang">
                            <form style="display: flex;">
                                <textarea required class="form-control toSend" maxlength="1000" placeholder="Название раздела" name="unitName-{{unit.unit_id}}" rows="1">{{ unit.name }}</textarea>
                                <div style="height: 30px; justify-content: center; display: flex;">
                                    <img src="../static/img/drag_n_drop.png" style="height: 40px; transform: rotate(90deg);" draggable="true" id="{{unit.unit_id}}" class="dnd-units">
                                </div>
                                <button type="button" id="delete-unit-button" style="background: transparent; border: transparent;" data-mdb-target="#delete-{{unit.unit_id}}" data-mdb-toggle="modal">
                                    <img src="https://cdn-icons-png.flaticon.com/512/9790/9790368.png" width="35px;" >
                                </button>
                            </form>
                        </span>
                        <div class="row border"></div>
                        <br>
                        <div class="container">
                            <div class="row" id="unit_tests-{{unit.unit_id}}">
                                {% for unit_test in unit.tests %}
                                    <div class="col-lg-4 col-md-6 mb-4 test_div toSend-{{unit.unit_id}} {{unit_test.unit_type}}-{{ unit_test.test.test_id }}" id="unit_test-{{ unit_test.test.test_id }}">
                                        <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');" id="{{unit.unit_id}}">
                                            <div class="card-body text-white">
                                                <div style="position:absolute; top:-2px; left:185px; height: 30px; justify-content: center; display: flex;" id="dnd-{{ unit_test.test.test_id }}" class="{{ unit_test.test.test_id }}" draggable="true" >
                                                    <img src="../static/img/drag_n_drop.png" style="height: 35px;" class="dnd {{ unit_test.test.test_id }}" id="{{ unit_test.test.test_id }}">
                                                </div>
                                                <h5 class="card-title">{{unit_test.test.content.name}}</h5>
                                                <form style="position:absolute;top:8px; right:8px">
                                                    <button id="delete-button" style="background: transparent; border: transparent;" type="button" data-mdb-target="#deleteTest-{{unit_test.test_id}}" data-mdb-toggle="modal">
                                                        <img src="https://cdn-icons-png.flaticon.com/512/9790/9790368.png" width="35px;" >
                                                    </button>
                                                </form>
                                                <p class="card-text">
                                                    {% if unit_test.unit_type == "test" %}
                                                    Ответьте на вопросы и получите приз
                                                    {% else %}
                                                    Прочтите статью и съешьте конфетку
                                                    {% endif %}
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    {% if unit_test.unit_type == "test" %}
                                                        <button disabled class="btn btn-outline-light" id="test-button">Тест</button>
                                                        <form action="/course_editor/{{course.course_id}}/tests_check/{{unit_test.test.test_id}}">
                                                            <button class="btn btn-outline-light" id="check-button">Проверка</button>
                                                        </form>
                                                        <form action="/course_editor/{{course.course_id}}/tests_edit/{{unit_test.test.test_id}}">
                                                    {% else %}
                                                        <button disabled class="btn btn-outline-light" id="lection-button">Статья</button>
                                                        <form action="/course_editor/{{course.course_id}}/article_editor/{{unit_test.test.test_id}}">
                                                    {% endif %}
                                                        <button class="btn btn-outline-light" id="edit-button">Редактировать</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                                        <button class="card-body text-white" style="background: transparent; border: transparent;" data-mdb-target="#addTask-{{unit.unit_id}}" data-mdb-toggle="modal">
                                            <h1 style="font-size: 84px; text-align: center;">+</h1>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row border" id="insert-place"></div>
            <br>
            <div class="mb-2 bg-image card shadow-1-strong" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                <button class="card-body text-white" style="background: transparent; border: transparent;" data-mdb-target="#addUnit" data-mdb-toggle="modal">
                    <h1 style="font-size: 84px; text-align: center;">+</h1>
                </button>
            </div>
            <br>
            <div class="row border" id="insert-place"></div>
            <button class="btn btn-primary" type="submit"
                            id="saveTest" style=
                            "background-color:yellowgreen; margin-bottom: 18px; margin-top: 18px;"
                            onclick="submitForm()">
                            Сохранить курс
            </button>
        <form action="/update_course/{{course.course_id}}" method="POST" id="sendingForm">
        </form>
        <!-- </form> -->
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/static/js/course_editor.js"></script>
{% endblock %}


{% block modal_dialog %}
    {% for unit in course.content.body %}
        <div class="modal fade" id="addTask-{{unit.unit_id}}" tabindex="-1">
          <div class="modal-dialog modal-side">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lang" id="exampleModalLabel1" key="confirmexit">Создание задания</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/course_editor/{{course.course_id}}/create_task/{{unit.unit_id}}" method="POST">
                  <div class="modal-body lang" key="areusure">Выберите тип создаваемого задания:</div>
                    <div style="display: flex; justify-content: center;">
                        <input id="checkbox-test" type="radio" name="TaskType" value="test">
                        <label for="checkbox-test" style="margin-left: 5px; font-size: 20px;">Тест</label>
                        <input id="checkbox-article" type="radio" name="TaskType" value="article" style="margin-left: 20px;">
                        <label for="checkbox-article" style="margin-left: 5px; font-size: 20px;">Статья</label>
                    </div>
                  <div class="modal-footer">
                        <button type="submit" class="btn badge-primary lang" style="border-radius: 25px">Создать</button>
                  </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="delete-{{unit.unit_id}}" tabindex="-1">
          <div class="modal-dialog modal-side">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title lang" id="exampleModalLabel" key="confirmexit">Подтверждение удаления раздела</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body lang" key="areusure">Вы точно хотите удалить раздел «{{ unit.name }}»?</div>
              <div class="modal-footer">
                <form action="/delete_unit/{{course.course_id}}/{{unit.unit_id}}" method="POST">
                    <button type="submit" class="btn badge-danger lang" key="logout" style="border-radius: 25px" href="/logout">Удалить</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% for unit_test in unit.tests %}
            <div class="modal fade" id="deleteTest-{{unit_test.test_id}}" tabindex="-1">
              <div class="modal-dialog modal-side">
                <div class="modal-content">
                  <div class="modal-header">
                      {% if unit_test.unit_type == "test" %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirmexit">Подтверждение удаления теста</h5>
                      {% else %}
                        <h5 class="modal-title lang" id="exampleModalLabel" key="confirmexit">Подтверждение удаления статьи</h5>
                      {% endif %}
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                    {% if unit_test.unit_type == "test" %}
                        <div class="modal-body lang" key="areusure">Вы точно хотите удалить тест «{{ unit_test.test.content.name }}»?</div>
                    {% else %}
                        <div class="modal-body lang" key="areusure">Вы точно хотите удалить статью «{{ unit_test.test.content.name }}»?</div>
                    {% endif %}
                  <div class="modal-footer">
                    {% if unit_test.unit_type == "test" %}
                        <form action="/delete_test/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% else %}
                        <form action="/delete_article/{{course.course_id}}/{{unit_test.test.test_id}}" method="POST">
                    {% endif %}
                        <button type="submit" class="btn badge-danger lang" key="logout" style="border-radius: 25px" href="/logout">Удалить</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="modal fade" id="addUnit" tabindex="-1">
      <div class="modal-dialog modal-side">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" id="exampleModalLabel" key="confirmexit">Создание раздела</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/course_editor/{{course.course_id}}" method="POST">
              <div class="modal-body lang" key="areusure">Введите название раздела:</div>
                <textarea required class="form-control" maxlength="1000" placeholder="Название раздела" name="newUnitName" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
              <div class="modal-footer">
                    <button type="submit" class="btn badge-primary lang" style="border-radius: 25px">Создать</button>
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock modal_dialog %}