{% extends 'base_aut.html' %}

{% block title %}
<title>Лекция</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <form action="/course_editor/{{course_id}}/file_attach_constructor/{{unit_id}}" method="POST" enctype="multipart/form-data" id="sendingForm">
            <span class="fs-5 row m-3 justify-content-start lang" key="file_attach_constructor">
                Конструктор заданий с ответом в виде файла
            </span>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-left: 15px;">
                <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
                <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
                <li class="breadcrumb-item active lang" key="file_attach_constructor" aria-current="page">Конструктор заданий с ответом в виде файла</li>
              </ol>
            </nav>
            <div class="row border"></div>
            <span class="fs-5 row m-3 justify-content-start lang">
                <textarea required class="form-control langp" key="task_name" maxlength="1000" placeholder="Название задания" name="articleName" rows="1" style="margin: 8px;"></textarea>
                <textarea class="form-control langp" key="task_desc" maxlength="1000" placeholder="Описание задания" name="articleDesc" rows="1" style="margin: 8px;"></textarea>
                <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px; ">
                    <img class="border border-2 rounded w-100" src="/static/img/nophoto.png" style="max-width: 290px; margin: 0 auto;">
                    <div style="max-width: 290px; margin: 0 auto;">
                        <input type="file" name="file" class="form-control" id="customFile" />
                    </div>
                </div>
            </span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <span class="fw-bolder fs-5 row m-3 justify-content-start lang" key="enter_task">
                                    Ввод задания (в Markdown)
                                </span>
                                <div class="row border"></div>
                                <br>
                                <div class="form-outline">
                                    <textarea class="form-control" maxlength="15000" id="textAreaExample" name="Article" rows="6"></textarea>
                                    <label class="form-label lang" key="task_text" for="textAreaExample">Текст задания</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card" id="content">
                            <div class="card-body">
                                <span class="fw-bolder fs-5 row m-3 justify-content-start lang" key="task_preview">
                                    Превью вашего задания
                                </span>
                                <div class="row border"></div>
                                <br>
                                <div>
                                    <p id="1"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary lang" key="save_task" type="submit"
                            id="saveTest" style=
                            "background-color:yellowgreen; margin: 10px;">
                            Сохранить задание
            </button>
        </form>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/article_editor.js"></script>
{% endblock %}