{% extends 'base_aut.html' %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container m-5" style="background-color: white; border-radius: 10px">
            <span class="fs-5 row m-3 justify-content-start lang" key="devteam">Форум по теме</span>
            <div class="row border"></div>
            <br>
            <div class="col-xl-12 mb-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="https://sun9-11.userapi.com/impg/1kd7jzbaJhrVy8CffRXCu_rRE52gxIgLk2HZkA/r7jKk0fEvFc.jpg?size=604x478&quality=96&sign=3fb9983620f2df264e66bc8d3967b707&type=album" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <a class="fw-bold mb-1 lang" key="pavel">Павел</a>
                                    <p style="font-size: 10px" class="mb-1 lang">Тема: Ноги гусеницы - Пятница, 28 января 2022 12:27</p>
                                    <p class="text-muted mb-0 lang" key="pavinfo" style="width: 500px">Всем привет! У меня вопрос, сколько ног у гусеницы. Я думаю, что очень много, а вы? Просто иногда такие мысли приходят и уходят и непонятно сколько в итоге?</p>
                                </div>
                            </div>
                            <span class="badge rounded-pill badge-success lang" key="online">На сайте</span>
                        </div>
                        <div style="display: flex; margin-left: 1000px; margin-top: 10px">
                            <a class="lang" key="answer" href="">Ответить</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="margin-left: 50px">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="https://sun9-11.userapi.com/impg/1kd7jzbaJhrVy8CffRXCu_rRE52gxIgLk2HZkA/r7jKk0fEvFc.jpg?size=604x478&quality=96&sign=3fb9983620f2df264e66bc8d3967b707&type=album" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <a class="fw-bold mb-1 lang" key="pavel">Илья</a>
                                    <p style="font-size: 10px" class="mb-1 lang">Тема: Ноги гусеницы - Пятница, 28 января 2022 12:27</p>
                                    <p class="text-muted mb-0 lang" key="pavinfo" style="width: 500px">Привет, не знаю</p>
                                </div>
                            </div>
                            <span class="badge rounded-pill badge-success lang" key="online">На сайте</span>
                        </div>
                        <div style="display: flex; margin-left: 950px; margin-top: 10px">
                            <a href="">Ответить</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="margin-left: 100px">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="https://sun9-11.userapi.com/impg/1kd7jzbaJhrVy8CffRXCu_rRE52gxIgLk2HZkA/r7jKk0fEvFc.jpg?size=604x478&quality=96&sign=3fb9983620f2df264e66bc8d3967b707&type=album" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <a class="fw-bold mb-1 lang" key="pavel">Максим</a>
                                    <p style="font-size: 10px" class="mb-1 lang">Тема: Ноги гусеницы - Пятница, 28 января 2022 12:27</p>
                                    <p class="text-muted mb-0 lang" key="pavinfo" style="width: 500px">А зачем отвечать тогда?</p>
                                </div>
                            </div>
                            <span class="badge rounded-pill badge-success lang" key="online">На сайте</span>
                        </div>
                        <div style="display: flex; margin-left: 900px; margin-top: 10px">
                            <a href="">Ответить</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="margin-left: 50px">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="https://sun9-11.userapi.com/impg/1kd7jzbaJhrVy8CffRXCu_rRE52gxIgLk2HZkA/r7jKk0fEvFc.jpg?size=604x478&quality=96&sign=3fb9983620f2df264e66bc8d3967b707&type=album" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <a class="fw-bold mb-1 lang" key="pavel">Дмитрий</a>
                                    <p style="font-size: 10px" class="mb-1 lang">Тема: Ноги гусеницы - Пятница, 28 января 2022 12:27</p>
                                    <p class="text-muted mb-0 lang" key="pavinfo" style="width: 500px">Привет, я знаю, но не скажу!</p>
                                </div>
                            </div>
                            <span class="badge rounded-pill badge-danger lang" key="offline">Оффлайн</span>
                        </div>
                        <div style="display: flex; margin-left: 950px; margin-top: 10px">
                            <a href="">Ответить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}