{% extends 'base_aut.html' %}

{% block title %}
<title>Редактор форумного листа {{forum.name}}</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container m-5" style="background-color: white; border-radius: 10px">
            <span class="fs-5 row m-3 justify-content-start"><div><text class="lang" key="forum_list_editor">Редактор форумного листа</text> «{{forum.name}}»</div></span>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-left: 15px;">
                <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
                <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
                <li class="breadcrumb-item active" aria-current="page"><text class="lang" key="forum_list_editor">Редактор форумного листа</text> «{{ forum.name }}»</li>
              </ol>
            </nav>
            <div class="row border"></div>
            <br>
            <form action="/course_editor/{{course.course_id}}/forum_list_check/{{forum.forum_id}}/search" method="POST">
                <div class="input-group mb-4">
                    <input id="text"
                            type="text"
                            class="form-control langp" key="topic_search"
                            placeholder="Поиск тем"
                            name="query"
                    />
                    <button class="btn btn-outline-secondary" type="submit" id="find" data-mdb-ripple-color="dark">
                        <i class="fas fa-search ms-0" style="color: #676767"></i>
                    </button>
                </div>
            </form>
            <div class="col-xl-12 mb-2">
                {% for topic in topics %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center" onclick="location.href='/course_editor/{{course.course_id}}/forum_check/{{forum.forum_id}}/forum/{{topic.ft_id}}'" type="submit">
                                    {%  if last_messages[topic.ft_id] %}
                                        <img src="/userava/{{last_messages[topic.ft_id]['user'].user_id}}" alt="userava" style="width: 45px; height: 45px" class="rounded-circle"/>
                                    {% else %}
                                        <img src="/static/img/nophoto.png" alt="userava" style="width: 45px; height: 45px" class="rounded-circle"/>
                                    {% endif %}
                                    <div class="ms-3">
                                        <a class="fw-bold mb-1"><div><text class="lang" key="topic">Тема:</text> {{topic.name}}</div></a>
                                        {%  if last_messages[topic.ft_id] %}
                                            <p class="text-muted mb-0" style="width: 500px"><text class="lang" key="last_message">Последнее сообщение:</text> {{last_messages[topic.ft_id]['message'].content}}</p>
                                        {% else %}
                                            <p class="text-muted mb-0" style="width: 500px"><i class="lang" key="topic_without_messages">--- Тема без сообщений ---</i></p>
                                    {% endif %}
                                    </div>
                                </div>
                                {%  if topic.is_active %}
                                    <div id="div_element_close_button" style="margin-right: 8px;">
                                        <button onclick="location.href='/course_editor/{{course.course_id}}/forum_check/{{forum.forum_id}}/forum/{{topic.ft_id}}/close'" class="btn btn-outline-dark btn-rounded lang" id="close-button" style="display: inline-block; margin-bottom: 8px;" data-mdb-target="#closeTopic" data-mdb-toggle="modal" key="close_topic">Закрыть тему</button>
                                    </div>
                                {% else %}
                                    <div id="div_element_open_button" style="margin-right: 8px;">
                                        <button onclick="location.href='/course_editor/{{course.course_id}}/forum_check/{{forum.forum_id}}/forum/{{topic.ft_id}}/open'" class="btn btn-outline-dark btn-rounded lang" id="open-button" style="display: inline-block; margin-bottom: 8px;" data-mdb-target="#closeTopic" data-mdb-toggle="modal" key="open_topic">Открыть тему</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_dialog %}
    <div class="modal fade" id="addTopic" tabindex="-1">
      <div class="modal-dialog modal-side">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" id="exampleModalLabel" key="topic_creation">Создание темы форума</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <form action="/course/{{course.course_id}}/forum_list/{{forum.forum_id}}" method="POST">
              <div class="modal-body lang" key="enter_topic_name">Введите название темы:</div>
                <textarea required class="form-control langp" key="topic_name" maxlength="1000" placeholder="Название темы" name="newTopicName" rows="1" style="margin-left: 25px; margin-bottom: 25px; width: 450px;"></textarea>
              <div class="modal-footer">
                    <button type="submit" class="btn badge-primary lang" key="create" style="border-radius: 25px">Создать</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
{% endblock modal_dialog %}