{% extends 'base_aut.html' %}

{% block title%}
<title>Друзья</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="row m-3 justify-content-start lang">
            Мои подписки
        </span>

        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-8">
                    <div class="input-group mb-4">
                        <input id="text"
                                type="text"
                                class="form-control"
                                placeholder="Поиск подписок"
                        />
                        <button class="btn btn-outline-secondary" type="button" id="find" data-mdb-ripple-color="dark">
                            <i class="fas fa-search ms-0" style="color: #676767"></i>
                        </button>
                    </div>
                    <div class="card">
                        <div class="card-body" id="1">
<!--                           JQ Код -->
                        </div>

                    </div>

                </div>




            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    let i = 0
    let div = $("#1")
    while (i !== 15) {
        let div_add = $("<div class=\"d-flex justify-content-between align-items-center\" style=\"padding: 55px 0\">\n" +
            "                                <div class=\"d-flex align-items-center\">\n" +
            "                                    <img src=\"https://sun9-11.userapi.com/impg/1kd7jzbaJhrVy8CffRXCu_rRE52gxIgLk2HZkA/r7jKk0fEvFc.jpg?size=604x478&quality=96&sign=3fb9983620f2df264e66bc8d3967b707&type=album\" alt=\"\" style=\"width: 120px; height: 120px\" class=\"rounded-circle\"/>\n" +
            "                                    <div class=\"ms-4\">\n" +
            "                                        <a class=\"fw-bold mb-1 lang\" style=\"color: #676767\" href=\"profile\">Павел</a>\n" +
            "                                        <p class=\"text-muted mb-0\">Бэкенд и Фронтенд разработчик</p>\n" +
            "                                    </div>\n" +
            "                                </div>\n" +
            "                                <span class=\"badge rounded-pill badge-success lang\">На сайте</span>\n" +
            "                            </div>\n" +
            "                            <hr class=\"hr\" />")
        div.append(div_add)
        i++
    }
    // $("#find").click(function () {
    //     console.log($("#text").val())
    // })

</script>
{% endblock %}