{% extends 'base_aut.html' %}

{% block title %}
<title>Ссылка на внешний ресурс</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <form action="/course_editor/{{course_id}}/link_constructor/{{unit_id}}" method="POST" enctype="multipart/form-data" id="sendingForm">
            <span class="fs-5 row m-3 justify-content-start lang" key="link_constructor">
                Конструктор ссылок
            </span>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb" style="margin-left: 15px;">
                <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
                <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
                <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
                <li class="breadcrumb-item active lang" key="link_constructor" aria-current="page">Конструктор ссылок</li>
              </ol>
            </nav>
            <div class="row border"></div>
            <span class="fs-5 row m-3 justify-content-start lang">
                <textarea required class="form-control langp" key="link_name" maxlength="1000" placeholder="Название ссылки" name="linkName" rows="1" style="margin: 8px;"></textarea>
                <textarea class="form-control langp" key="link" maxlength="1000" placeholder="Ссылка" name="link" rows="1" style="margin: 8px;"></textarea>
                <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px; ">
                    <img class="border border-2 rounded w-100" src="/static/img/nophoto.png" style="max-width: 290px; margin: 0 auto;">
                    <div style="max-width: 290px; margin: 0 auto;">
                        <input type="file" name="file" class="form-control" id="customFile" accept=".png,.jpg,.jpeg"/>
                    </div>
                    <div style="color: gray; font-size: 14px; text-align: center;" class="lang" key="file_note">*Изображение должно иметь расширение png, jpg или jpeg и размер не более 2Мб</div>
                </div>
            </span>
            <button class="btn btn-primary lang" key="save_link" type="submit"
                            id="saveLink" style=
                            "background-color:yellowgreen; margin: 10px;">
                            Сохранить ссылку
            </button>
        </form>
    </div>
</div>

{% endblock %}