{% extends 'base.html' %}

{% block title%}
<title>Страница авторизации</title>
{% endblock %}
{% block style %}
<link href="static/css/reg.css" rel="stylesheet">


{% endblock %}
{% block content %}
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Войти в аккаунт</h2>
              {% for msg in get_flashed_messages() %}
              <div class="flash">{{msg}}</div>
              {% endfor %}
              <form action="/login" method="POST">
                <div class="form-outline mb-6">
                  <input type="email" name="email" placeholder="Ваше почта" class="form-control form-control-lg" />
                </div>
                <br>
                <div class="form-outline mb-6">
                  <input type="password" name="password" placeholder="Ваш пароль" class="form-control form-control-lg" />
                </div>

                <!--                                <div class="form-check d-flex justify-content-center mb-5">-->
                <!--                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />-->
                <!--                                    <label class="form-check-label">-->
                <!--                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>-->
                <!--                                    </label>-->
                <!--                                </div>-->
                <br>
                <br>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Войти</button>
                </div>

                <p style="padding-left: 40px" class="text-muted mt-5 mb-0">У вас нет аккаунта? <a href="registration" class="fw-bold text-muted text-body"><u>Зарегестрируйтесь</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}