{% extends 'base_aut.html' %}

{% block title %}
<title>Лекция</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang">
            Статья
        </span>
        <div class="row border"></div>
        <br>
        <p class="m-3">Лето. Такая прекрасная, чудесная пора. Мне кажется, что на свете очень мало людей, которые могут не любить лето. Конечно, ведь лето – это время тепла, радости, веселья и самых разных забав. Лето – это пора самых долгих каникул в году. Это не может не радовать нас.

            Летом мы с друзьями и одноклассниками любим часто ездить по городу на велосипеде часами напролет. Это так приятно ехать и наслаждаться теплыми лучами летнего солнца. Мы проезжаем по много километров в день. Это не только весело, а еще и полезно для здоровья.

            Самые вкусные и полезные фрукты и ягоды появляются именно летом. В такую жаркую погоду они являются лучшей пищей, тем более, в них очень много витаминов. Получается, что лето – это еще и лучшее время для укрепления нашего здоровья.

            Лето считается самым любимым сезоном для всех людей, а особенно для детей. Ведь можно забыть об учебе, уроках и других заботах на целых три месяца. Я тоже считаю, что лето – это самое теплое, самое веселое и беззаботное время в году.</p>

        <a class="btn btn-primary position-relative m-3" href="">Лекция прочитана</a>



    </div>
</div>
{% endblock %}