{% extends 'base_aut.html' %}

{% block title %}
<title>Лекция</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ article_name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item lang"><a href="/course/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item active" aria-current="page"><text class="lang" key="article">Статья</text> «{{ article_name }}»</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>
        <p id="text-view" style="margin: 20px;"></p>

        <form action="/course/{{ course.course_id }}/article/{{article.article_id}}" method="POST">
            <button class="btn btn-primary position-relative m-3 lang" key="read_article" type="submit">Статья прочитана</button>
        </form>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/static/js/preview_article.js"></script>
<script>
    document.getElementById('text-view').innerHTML = htmlspecialchars_decode(`{{ article.content }}`)
</script>
{% endblock %}