{% extends 'base_aut.html' %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title lang" key="info" >Подробнее</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-address-book ms-0"></i>
                        </div>
                        <div class="col-5">
                            <p>id @{{user.user_id}}</p>
                        </div>
                    </div>
                    <hr class="hr" />
<!--                    <div class="row">-->
<!--                        <div class="col-1">-->
<!--                            <i class="fas fa-address-book ms-0"></i>-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                            Дата рождения:-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                            9 октября-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-1">-->
<!--                            <i class="fas fa-address-book ms-0"></i>-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                            Образование:-->
<!--                        </div>-->
<!--                        <div class="col-5">-->
<!--                            СФУ-->
<!--                        </div>-->

<!--                    </div>-->
                    <hr class="hr" />
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-address-book ms-0"></i>
                        </div>
                        <div class="col-5">
                            Город:
                        </div>
                        <div class="col-5">
                            {{ user.city }}
                        </div>
                    </div>
                    <hr class="hr" />
                    <div class="row">
                        <div class="col-6">
                            {{ user.subs_count }} подписчиков
                        </div>
                        <div class="col-6">
                             {{ user.sub_to_count }} подписки
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="row m-3 justify-content-start lang">
            Профиль
        </span>
        <div class="row border"></div>
        <br>
        <!-- Carousel wrapper -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center" style="padding: 55px 0">
                                <div class="d-flex align-items-center">
                                    <img src="{{user.avatar}}" alt="" style="width: 120px; height: 120px" class="rounded-circle"/>
                                    <div class="ms-4">
                                        <p class="fw-bold mb-1 lang">{{ user.username }}</p>
                                        <p class="text-muted mb-0">...</p>
                                    </div>
                                </div>
                                <span class="badge rounded-pill badge-success lang">На сайте</span>
                            </div>
                            <div class="card-footer border-0 bg-light  d-flex justify-content-around" >
                                <button class="btn btn-link m-0 text-reset lang" key="info" data-mdb-toggle="modal" data-mdb-target="#exampleModal"  role="button" data-ripple-color="primary">Подробнее<i class="fas fa-envelope ms-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <a class="row m-1 lang" style="color: #676767" href="subscriptions/{{user.user_id}}">
                                            Подписки
                                        </a>
                                    </div>
                                </div>
                                <hr class="hr" />
                                <div class="row text-center ">


                                {% if user.sub_to %}
                                        {% for sub_to in user.sub_to %}
                                        <div class="col-md-3 scale"  name="element">
                                        <img src="{{sub_to.avatar}}" alt="" style="width: 60px; height: 60px" class="rounded-circle"/>
                                        <p class="m-2">{{sub_to.username}}</p>
                                        </div>
                                        {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <a class="row m-1 lang" style="color: #676767" href="courses/{{user.user_id}}">
                                        Участник в
                                    </a>
                                </div>
                            </div>
                            <hr class="hr" />
                            <div class="row">
                                <div class="col-md-12">
                                    {% if user.courses %}
                                        {% for course in user.courses %}
                                        <div class="d-flex align-items-center scale2" style="padding: 10px 0">
                                            <img src="{{course.avatar}}" alt="" style="width: 60px; height: 60px" class="rounded-circle"/>
                                            <div class="ms-4">
                                                <p class="mb-0">{{course.name}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-8 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <a class="row m-1 lang" style="color: #676767" href="achievements/{{user.user_id}}">
                                            Достижения
                                        </a>
                                    </div>

                                </div>
                                <hr class="hr" />
                                <div class="row text-center">

                                    {% if user.achievements %}
                                        {% for achievement in user.achievements %}
                                        <div class="col-md-6 scale">
                                            <img src="{{achievement.image}}" alt="" style="width: 60px; height: 60px" class="rounded-circle"/>
                                            <p class="m-2">{{achievement.name}}</p>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<style>
    .scale {
        transition: 0.5s; /* Время эффекта */
    }
    .scale:hover {
        transform: scale(1.05); /* Увеличиваем масштаб */
    }
    .scale2 {
        transition: 0.5s; /* Время эффекта */
    }
    .scale2:hover {
        transform: scale(1.02); /* Увеличиваем масштаб */
    }
</style>
{% endblock %}
{% block script %}

{% endblock %}