{% extends 'base.html' %}

{% block title%}
<title>Страница регистрации</title>
{% endblock %}
{% block style %}
<link href="static/css/reg.css" rel="stylesheet">

{% endblock %}
{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center">
        <div class="container" style="padding-bottom: 300px">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Создать аккаунт</h2>
                            {% for msg in get_flashed_messages() %}
                            <div class="flash-error">{{msg}}</div>
                            {% endfor %}
                            <form action="/registration" method="POST">
                                <div class="form-outline mb-4">
                                    <input type="text" name="username" placeholder="Ваш ник" class="form-control form-control-lg">
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" name="email" placeholder="Ваше почта" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" placeholder="Ваш пароль" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password2" placeholder="Повторите ваш пароль" class="form-control form-control-lg" />
                                </div>

<!--                                <div class="form-check d-flex justify-content-center mb-5">-->
<!--                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />-->
<!--                                    <label class="form-check-label">-->
<!--                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>-->
<!--                                    </label>-->
<!--                                </div>-->
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Зарегестрироваться</button>
                                </div>

                                <p style="text-align: center" class=" text-muted mt-5 mb-0">У вас уже создан аккаунт? <a href="login" class="fw-bold text-muted text-body"><u>Войдите</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}