{% extends 'base_aut.html' %}

{% block title %}
<title>Отзывы</title>
{% endblock %}

{% block style %}
<link href="static/css/reviews.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="container m-5" style="background-color: white">
    <span class="fs-5 row m-3 justify-content-start lang" key="reviews">Отзывы о курсе «{{course.name}}»</span>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin-left: 15px;">
        <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}">Курсы</a></li>
        <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}">Курс «{{ course.name }}»</a></li>
        <li class="breadcrumb-item active" aria-current="page">Отзывы о курсе</li>
      </ol>
    </nav>
    <div class="row border" style="margin-bottom: 20px;"></div>
    {% for review in reviews %}
        <div class="d-flex align-items-center" style="display: inline; position:relative; padding-bottom: 10px;
        padding-right: 185px; padding-left: 10px; padding-top: 10px; margin-bottom: 20px; border-radius: 10px;
        {% if review.user_id == current_user.get_id() %}
            background: #80008014;
        {% else %}
            background: white;
        {% endif %}
        ">
            <a href="/profiles/{{ review.user_id }}">
                <img src="/userava/{{review.user_id}}" alt="" style="width: 120px; height: 120px" class="rounded-circle"/>
            </a>
            <div class="ms-4">
                <a href="/profiles/{{ review.user_id }}" class="fw-bold mb-1 lang">{{ users_for_review[review.user_id].username }}</a>
                {% if review.text %}
                    <p class="text-muted mb-0">{{ review.text }}</p>
                {% else %}
                    <p class="text-muted mb-0"><i>--- Отзыв без комментария ---</i></p>
                {% endif %}
            </div>
            <div style="float:right; position: absolute; right: 5px; font-size: 24px;">
                {% if review.rate %}
                    {% if review.rate == 1 %}
                        <i class="fa-star star one-star fas rate-active"></i>
                    {% elif review.rate > 1 %}
                        <i class="fa-star star one-star fas"></i>
                    {% else %}
                        <i class="far fa-star star one-star"></i>
                    {% endif %}
                    {% if review.rate == 2 %}
                        <i class="fa-star star two-star fas rate-active"></i>
                    {% elif review.rate > 2 %}
                        <i class="fa-star star two-star fas"></i>
                    {% else %}
                        <i class="far fa-star star two-star"></i>
                    {% endif %}
                    {% if review.rate == 3 %}
                        <i class="fa-star star three-star fas rate-active"></i>
                    {% elif review.rate > 3 %}
                        <i class="fa-star star three-star fas"></i>
                    {% else %}
                        <i class="far fa-star star three-star"></i>
                    {% endif %}
                    {% if review.rate == 4 %}
                        <i class="fa-star star four-star fas rate-active"></i>
                    {% elif review.rate > 4 %}
                        <i class="fa-star star four-star fas"></i>
                    {% else %}
                        <i class="far fa-star star four-star"></i>
                    {% endif %}
                    {% if review.rate == 5 %}
                        <i class="fa-star star five-star fas rate-active"></i>
                    {% elif review.rate > 5 %}
                        <i class="fa-star star four-star fas"></i>
                    {% else %}
                        <i class="far fa-star star five-star"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}