{% extends 'base_aut.html' %}

{% block title %}
<title>Отзывы</title>
{% endblock %}

{% block style %}
<link href="static/css/reviews.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="container m-5" style="background-color: white">
    <span class="fs-5 row m-3 justify-content-start lang" key="reviews">Отзывы</span>
    <div class="row border"></div>


<!--    Для карусели отзывы-->
          <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
              <div class="col-2">
                <img class="w-100" style="margin-bottom: 20px; max-height: 80px; max-width: 120px;" src="https://avatars.mds.yandex.net/i?id=74462653a39bba8eea738382b0969dc55a476bdf-5887216-images-thumbs&n=13" alt="avatar">
              </div>
              <div class="col-8">
                <p><b>Тут имя и фамилия пользователя</b></p>
                <h6>Тут отзыв</h6>
              </div>
              <div class="col-2">
                <div class="rating-result">
                  <span class="active"></span>
                  <span class="active"></span>
                  <span class="active"></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <img style="margin-bottom: 20px; max-height: 80px;" src="https://avatars.mds.yandex.net/i?id=74462653a39bba8eea738382b0969dc55a476bdf-5887216-images-thumbs&n=13" alt="avatar">
              </div>
              <div class="col-8">
                <p><b>Тут имя и фамилия пользователя</b></p>
                <h6>Тут отзыв</h6>
              </div>
              <div class="col-2">
                <div class="rating-result">
                  <span class="active"></span>
                  <span class="active"></span>
                  <span class="active"></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <img style="margin-bottom: 20px; max-height: 80px;" height="80px" src="https://avatars.mds.yandex.net/i?id=74462653a39bba8eea738382b0969dc55a476bdf-5887216-images-thumbs&n=13" alt="avatar">
              </div>
              <div class="col-8">
                <p><b>Тут имя и фамилия пользователя</b></p>
                <h6>Тут отзыв</h6>
              </div>
              <div class="col-2">
                <div class="rating-result">
                  <span class="active"></span>
                  <span class="active"></span>
                  <span class="active"></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <img style="margin-bottom: 20px; max-height: 80px;" src="https://avatars.mds.yandex.net/i?id=74462653a39bba8eea738382b0969dc55a476bdf-5887216-images-thumbs&n=13" alt="avatar">
              </div>
              <div class="col-8">
                <p><b>Тут имя и фамилия пользователя</b></p>
                <h6>Тут отзыв</h6>
              </div>
              <div class="col-2">
                <div class="rating-result">
                  <span class="active"></span>
                  <span class="active"></span>
                  <span class="active"></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2">
                <img style="margin-bottom: 20px; max-height: 80px;" src="https://avatars.mds.yandex.net/i?id=74462653a39bba8eea738382b0969dc55a476bdf-5887216-images-thumbs&n=13" alt="avatar">
              </div>
              <div class="col-8">
                <p><b>Тут имя и фамилия пользователя</b></p>
                <h6>Тут отзыв</h6>
              </div>
              <div class="col-2">
                <div class="rating-result">
                  <span class="active"></span>
                  <span class="active"></span>
                  <span class="active"></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!--  Карусельные отзывы  -->
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
{% endblock %}