{% extends 'base_aut.html' %}

{% block title %}
<title>Настройки</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start lang" key="maininfo">
            Основная информация
        </span>
        <div class="row border"></div>
        <div class="d-flex p-4">
            <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px;">
                <img class="border border-2 rounded w-100" src="/userava/{{user.user_id}}" style="max-width: 400px;">
                <form action="/uploadava" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control" id="customFile" accept=".png,.jpg,.jpeg"/>
                    <a><button class="btn border border-2 w-100 lang" key="changeava" type="submit">Сменить аватар</button></a>
                    <div style="color: gray; font-size: 14px; text-align: center;" class="lang" key="file_note">*Изображение должно иметь расширение png, jpg или jpeg и размер не более 2Мб</div>
                </form>

<!--                <span class="lang" key="anachievements" style="margin-top: 20px; margin-left: auto; margin-right: auto;">-->
<!--            Достижения-->
<!--        </span>-->

<!--                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">-->
<!--                    <div class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                    </div>-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active" data-bs-interval="10000">-->
<!--                            <img src="static/img/vive_la_commune.jpg" class="d-block w-100" alt="First slide">-->
<!--                            <div class="carousel-caption d-none d-md-block">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item" data-bs-interval="2000">-->
<!--                            <img src="static/img/vive_la_resistance.png" class="d-block w-100" alt="Second slide">-->
<!--                            <div class="carousel-caption d-none d-md-block">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <img src="static/img/cheburashka.png" class="d-block w-100" alt="Third slide">-->
<!--                            <div class="carousel-caption d-none d-md-block">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">-->
<!--                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    </button>-->
<!--                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">-->
<!--                        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    </button>-->
<!--                </div>-->

            </div>
            <form method="POST" action="/changecity" class="flex-fill d-flex flex-column ps-2 pe-2" style="width: 70%;">
                <div class="flash-error" style="color:red">{{get_flashed_messages()[0]}}</div>
                <div class="row mt-2">
                    <div class="col-md-6" style="z-index: 1;"><label class="labels lang" key="name">Имя</label>
                        <input type="text" name="username" class="form-control" value="{{ user.username }}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels lang" key="email">Электронная почта</label>
                        <input type="email" name="email" class="form-control" value="{{ user.email }}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6" style="z-index: 1;"><label class="labels lang" key="city_">Город</label>
                        <input type="text" name="city" class="form-control" value="{{ user.city }}">
                    </div>
                    <button class="btn border border-2 w-100 lang" key="save" style="margin-top: 20px" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.carousel').carousel()
</script>
<script type="module" src="/static/js/upload_file_size_limit.js"></script>
{% endblock %}
