{% extends 'base_aut.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="container border border-1 rounded m-5" style="background-color: #ffffff; border-radius: 10px">
    <div class="container col-md-12 ">
      <div class="row">
        <!-- Pills navs -->
        <ul class="nav nav-pills nav-fill mb-3 " id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
                    class="nav-link active lang"
                    id="ex2-tab-1"
                    data-mdb-toggle="pill"
                    href="#ex2-pills-1"
                    role="tab"
                    aria-controls="ex2-pills-1"
                    aria-selected="true"
                    key="my_notes"
            >Мои заметки</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
                    class="nav-link lang"
                    id="ex2-tab-2"
                    data-mdb-toggle="pill"
                    href="#ex2-pills-2"
                    role="tab"
                    aria-controls="ex2-pills-2"
                    aria-selected="false"
                    key="my_tasks"
            >Мои задачи</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
                    class="nav-link lang"
                    id="ex2-tab-3"
                    data-mdb-toggle="pill"
                    href="#ex2-pills-3"
                    role="tab"
                    aria-controls="ex2-pills-3"
                    aria-selected="false"
                    key="month"
            >Месяц</a
            >
          </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content" id="ex2-content">
          <div class="tab-pane fade show active" id="ex2-pills-1" role="tabpanel" aria-labelledby="ex2-tab-1">
            <div style="position: fixed; right: 45px; bottom: 45px">
              <button type="button" style="border-radius: 70%; background-color: #48abe0;color: #ffffff;border: none;font-size: 31px;height: 50px;width: 50px;box-shadow: 0 2px 4px darkslategray;cursor: pointer;transition: all 0.2s ease;" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div id="notes" class="row">
              {% for note in notes %}
                  <div id="{{ note.note_id }}" class="container col-md-3 mt-5">
                    <div class="toast show fade mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false" id="static-example1">
                     <form class="edit_form">
                        <div class="toast-header toast-primary">

                          <strong class="me-auto" id="title-{{ note.note_id }}" style="max-width:150px; word-wrap:break-word;">{{ note.note_title }}</strong>
                          <small style="text-align: right">{{ note.addition_date.strftime('%d-%m-%Y') }} <br> {{ note.addition_date.strftime('%H:%M:%S') }}</small>
                          <button id="buttons_edit" name="{{ note.note_id }}" type="button" class="btn btn-transparent shadow-none" style="background-color: transparent; border-color: transparent; max-width: 5px; padding: 10px;" aria-label="Edit" onclick="editNote(this.name)"><i class="fa fa-edit"></i></button>
                          <button id="buttons" name="{{ note.note_id }}" type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close" onclick="removeElement(this.name)"></button>
                        </div>
                     </form>
                     <div class="toast_body" id="text-{{ note.note_id }}" style="padding: 8px; padding-bottom: 15px; margin: 15px; word-wrap:break-word;">{{ note.note_text }}</div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="ex2-pills-2" role="tabpanel" aria-labelledby="ex2-tab-2">
            <div class="container col-md-12 ">
              <div class="row">
                Tab content 2
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="ex2-pills-3" role="tabpanel" aria-labelledby="ex2-tab-3">
            <div class="row">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="lang" key="monday">ПН</th>
                  <th class="lang" key="tuesday">ВТ</th>
                  <th class="lang" key="wednesday">СР</th>
                  <th class="lang" key="thursday">ЧТ</th>
                  <th class="lang" key="friday">ПТ</th>
                  <th class="lang" key="saturday">СБ</th>
                  <th class="lang" key="sunday">ВС</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">1</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">2</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">3</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">4</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">5</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">6</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">7</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                </tr>
                <tr>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">8</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">9</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">10</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">11</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">12</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">13</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">14</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                </tr>
                <tr>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">15</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">16</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">17</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">18</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">19</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">20</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">21</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                </tr>
                <tr>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">22</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">23</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">24</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">25</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">26</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">27</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">28</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                </tr>
                <tr>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">29</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">30</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">31</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">32</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">33</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">34</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                  <td class="td-day">
                    <div class="day"><span style="font-size: x-small; ">35</span></div>
                    <div class="info">Ссылка на работу</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Pills content -->
      </div>
    </div>
  </div>
</div>

<div class="container col-md-12 ">
  <div class="row">

<!--    <button class="btn btn-warning lang" key="createform" id="1">Создание формы</button>-->

<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false"><div class="toast-header"><strong class="me-auto lang" key="form">Форма</strong><small>11 mins ago</small><button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">Сделать домашнее задание по мат. анализу</div></div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example1" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-primary">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example2" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-danger">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example3" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-success">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
<!-- CSS -->
<link rel="stylesheet" href="/static/css/tasks.css"/>
{% endblock %}
{% block script %}
<!-- Scripts -->
<script type="text/javascript" src="/static/js/tasks.js"></script>
{% endblock %}

{% block modal_dialog %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title lang" key="new_note" id="exampleModalLabel">Новая заметка</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label lang" key="name_">Название:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label lang" key="note_">Заметка:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary lang" key="exit" data-mdb-dismiss="modal">Выйти</button>
          <button type="button" id="save" class="btn btn-primary lang" key="save" data-mdb-dismiss="modal">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal_dialog %}