{% extends 'base_aut.html' %}

{% block title %}
<title>Главная</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/fonts/icomoon/style.css">
<link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
<link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="container border border-1 rounded m-5" style="background-color: #ffffff; border-radius: 10px">
    <div class="container col-md-12 ">
      <div class="row">
        <!-- Pills navs -->
        <ul class="nav nav-pills nav-fill mb-3 " id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
                    class="nav-link active lang"
                    id="ex2-tab-1"
                    data-mdb-toggle="pill"
                    href="#ex2-pills-1"
                    role="tab"
                    aria-controls="ex2-pills-1"
                    aria-selected="true"
                    key="my_notes"
            >Мои заметки</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
                    class="nav-link lang"
                    id="ex2-tab-2"
                    data-mdb-toggle="pill"
                    href="#ex2-pills-2"
                    role="tab"
                    aria-controls="ex2-pills-2"
                    aria-selected="false"
                    key="my_tasks"
            >Мои задачи</a
            >
          </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content" id="ex2-content">
          <div class="tab-pane fade show" id="ex2-pills-1" role="tabpanel" aria-labelledby="ex2-tab-1">
            <div style="position: fixed; right: 45px; bottom: 45px">
              <button type="button" style="border-radius: 70%; background-color: #48abe0;color: #ffffff;border: none;font-size: 31px;height: 50px;width: 50px;box-shadow: 0 2px 4px darkslategray;cursor: pointer;transition: all 0.2s ease;" data-mdb-toggle="modal" data-mdb-target="#addNote">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div id="notes" class="row">
              {% for note in notes %}
                  <div id="{{ note.note_id }}" class="container col-md-3 mt-5">
                    <div class="toast show fade mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false" id="static-example1">
                     <form class="edit_form">
                        <div class="toast-header toast-primary">

                          <strong class="me-auto" id="title-{{ note.note_id }}" style="max-width:150px; word-wrap:break-word;">{{ note.note_title }}</strong>
                          <small style="text-align: right">{{ note.addition_date.strftime('%d-%m-%Y') }} <br> {{ note.addition_date.strftime('%H:%M:%S') }}</small>
                          <button id="buttons_edit-{{ note.note_id }}" name="{{ note.note_id }}" type="button" class="btn btn-transparent shadow-none" style="background-color: transparent; border-color: transparent; max-width: 5px; padding: 10px;" aria-label="Edit" onclick="editNote(this.name)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button id="buttons" name="{{ note.note_id }}" type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close" onclick="removeElement(this.name)"></button>
                        </div>
                      <div class="toast_body" id="text-{{ note.note_id }}" style="padding: 8px; padding-bottom: 15px; margin: 15px; word-wrap:break-word;">{{ note.note_text }}</div>
                     </form>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade show active" id="ex2-pills-2" role="tabpanel" aria-labelledby="ex2-tab-2">
            <div style="position: fixed; right: 45px; bottom: 45px">
              <button type="button" style="border-radius: 70%; background-color: #48abe0;color: #ffffff;border: none;font-size: 31px;height: 50px;width: 50px;box-shadow: 0 2px 4px darkslategray;cursor: pointer;transition: all 0.2s ease;" data-mdb-toggle="modal" data-mdb-target="#addDeadline">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="row">
            <div id='calendar-container'>
              <div id='calendar'></div>
            </div>

              <script>
              let lang = localStorage.getItem('language');
              let buttonText;
              if (lang === "ru") {
                  buttonText = {
                      today: "Сегодня",
                      month: "Месяц",
                      week: "Неделя",
                      day: "День",
                      list: 'Список'
                  }
              } else {
                buttonText = {
                      today: "Today",
                      month: "Month",
                      week: "Week",
                      day: "Day",
                      list: 'List'
                  }
              }

              document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                  plugins: [ 'dayGrid', 'list' ], //  'timeGrid',
                  height: '350',
                  firstDay: 1,
                  header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                  },
                  eventClick: function(date, jsEvent, view) {
                      $('#editDeadline-' + date.event.id).modal('show');
                      // Prevent browser context menu:
                      return false;
                  },

                  locale: lang,
                  buttonText: buttonText,

                  defaultView: 'dayGridMonth',
                  defaultDate: new Date(),
                  navLinks: true, // can click day/week names to navigate views
                  editable: true,
                  eventLimit: true, // allow "more" link when too many events
                  events: [
                    {% for deadline in deadlines %}
                        {
                          title: `{{ deadline.title }}`,
                          id: `{{ deadline.deadline_id }}`,
                          {% if deadline.start_date|string == 'None' %}
                            start: `{{ deadline.end_date }}`,
                          {% else %}
                            start: `{{ deadline.start_date }}`,
                            end: `{{ deadline.end_date }}`,
                          {% endif %}
                          {% if deadline.user_id|string == 'None' %}
                            backgroundColor: '#1faee9',
                            borderColor: '#000000',
                          {% else %}
                            backgroundColor: '#ffd942',
                            borderColor: '#000000',
                          {% endif %}
                        },
                    {% endfor %}
                  ]
                });

                calendar.render();
              });
              </script>
            </div>
          </div>
        </div>
        <!-- Pills content -->
      </div>
    </div>
  </div>
</div>

<div class="container col-md-12 ">
  <div class="row">

<!--    <button class="btn btn-warning lang" key="createform" id="1">Создание формы</button>-->

<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false"><div class="toast-header"><strong class="me-auto lang" key="form">Форма</strong><small>11 mins ago</small><button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">Сделать домашнее задание по мат. анализу</div></div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example1" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-primary">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example2" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-danger">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="container col-md-3 mt-5">-->
<!--      <div class="toast show fade mx-auto" id="static-example3" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">-->
<!--        <div class="toast-header toast-success">-->
<!--          <strong class="me-auto lang" key="form">Форма</strong>-->
<!--          <small>11 mins ago</small>-->
<!--          <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="toast-body">Сделать домашнее задание по мат. анализу</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
<!-- CSS -->
<link rel="stylesheet" href="/static/css/tasks.css"/>
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}
{% block script %}
<!-- Scripts -->
<script type="module" src="/static/js/tasks.js"></script>
<script src="/static/js/moment.js"></script>
<script id="tempusdominus" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/fullcalendar/packages/core/main.js'></script>
<script src='/static/fullcalendar/packages/interaction/main.js'></script>
<script src='/static/fullcalendar/packages/daygrid/main.js'></script>
<script src='/static/fullcalendar/packages/timegrid/main.js'></script>
<script src='/static/fullcalendar/packages/list/main.js'></script>
<script src="/static/js/main.js"></script>


{% endblock %}

{% block modal_dialog %}
  <div class="modal fade" id="addNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title lang" key="new_note" id="exampleModalLabel">Новая заметка</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label lang" key="name_">Название:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label lang" key="note_">Заметка:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary lang" key="exit_" data-mdb-dismiss="modal">Выйти</button>
          <button type="button" id="save" class="btn btn-primary lang" key="save" data-mdb-dismiss="modal">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addDeadline" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title lang" key="new_deadline" id="exampleModalLabelDeadline">Новое событие</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/add_deadline" method="POST">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label lang" key="name_">Название:</label>
              <input required type="text" class="form-control" id="recipient-name-deadline" name="title"/>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label lang" key="start_date">Дата начала:</label>
              <div class="form-group">
                <div class="input-group date datetimepicker" id="datetimepicker1" data-target-input="nearest">
                  <input required type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="start_date"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" style="cursor: pointer">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label lang" key="end_date">Дата окончания:</label>
              <div class="form-group">
                <div class="input-group date datetimepicker" id="datetimepicker2" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="end_date"/>
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker" style="cursor: pointer">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary lang" key="exit_" data-mdb-dismiss="modal">Выйти</button>
              <button type="submit" id="save-deadline" class="btn btn-primary lang" key="save">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% for deadline in deadlines %}
  {% if deadline.user_id|string != 'None' %}
    <div class="modal fade" id="editDeadline-{{deadline.deadline_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" key="edit_deadline" id="editModalLabelDeadline">Редактирование события</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/edit_deadline/{{deadline.deadline_id}}" method="POST">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label lang" key="name_">Название:</label>
                <input required type="text" class="form-control" id="edit-name-deadline" value="{{ deadline.title }}" name="title"/>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label lang" key="start_date">Дата начала:</label>
                <div class="form-group">
                  <div class="input-group date datetimepicker" id="edit-datetimepicker1-edit-{{deadline.deadline_id}}" data-target-input="nearest">
                    <input required type="text" class="form-control datetimepicker-input" data-target="#edit-datetimepicker1-edit-{{deadline.deadline_id}}" name="start_date"
                           {% if deadline.start_date|string == 'None' %}
                            value="{{ deadline.end_date }}"
                          {% else %}
                            value="{{ deadline.start_date }}",
                          {% endif %}
                    />
                    <div class="input-group-append" data-target="#edit-datetimepicker1-edit-{{deadline.deadline_id}}" data-toggle="datetimepicker" style="cursor: pointer">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label lang" key="end_date">Дата окончания:</label>
                <div class="form-group">
                  <div class="input-group date datetimepicker" id="edit-datetimepicker2-edit-{{deadline.deadline_id}}" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#edit-datetimepicker2-edit-{{deadline.deadline_id}}" name="end_date"
                           {% if deadline.start_date|string != 'None' and deadline.end_date|string != 'None' %}
                            value="{{ deadline.end_date }}"
                          {% endif %}
                    />
                    <div class="input-group-append" data-target="#edit-datetimepicker2-edit-{{deadline.deadline_id}}" data-toggle="datetimepicker" style="cursor: pointer">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary lang" key="exit_" data-mdb-dismiss="modal">Выйти</button>
                <button type="button" class="btn btn-danger lang" key="delete" onclick="location.href='/remove_deadline/{{deadline.deadline_id}}'">Удалить</button>
                <button type="submit" id="save-deadline" class="btn btn-primary lang" key="save">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="modal fade" id="editDeadline-{{deadline.deadline_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title lang" key="show_task_deadline" id="editModalLabelDeadline">Просмотр задания</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/edit_deadline/{{deadline.deadline_id}}" method="POST">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label lang" key="name_">Название:</label>
                <input required type="text" disabled class="form-control" id="edit-name-deadline" value="{{ deadline.title }}" name="title"/>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label lang" key="deadline">Крайний срок выполнения:</label>
                <div class="form-group">
                  <div class="input-group date datetimepicker" id="edit-datetimepicker1-edit-{{deadline.deadline_id}}" data-target-input="nearest">
                    <input required type="text" disabled class="form-control datetimepicker-input" data-target="#edit-datetimepicker1-edit-{{deadline.deadline_id}}" name="start_date"
                           {% if deadline.start_date|string == 'None' %}
                            value="{{ deadline.end_date }}"
                          {% else %}
                            value="{{ deadline.start_date }}",
                          {% endif %}
                    />
                    <div class="input-group-append" data-target="#edit-datetimepicker1-edit-{{deadline.deadline_id}}" style="cursor: pointer">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary lang" key="exit_" data-mdb-dismiss="modal">Выйти</button>
                <button type="button" id="go-to-deadline" class="btn btn-primary lang" key="go_to_task"
                        {% if deadline.task_type == "test" %}
                          onclick="location.href='/course/{{deadline.course_id}}/test_preview/{{deadline.task_id}}'"
                        {% elif deadline.task_type == "article" %}
                          onclick="location.href='/course/{{deadline.course_id}}/article/{{deadline.task_id}}'"
                        {% elif deadline.task_type == "link" %}
                          onclick="location.href='/course/{{deadline.course_id}}/link/{{deadline.task_id}}'"
                        {% elif deadline.task_type == "file_attach" %}
                          onclick="location.href='//course/{{deadline.course_id}}/file_attach_preview/{{deadline.task_id}}'"
                        {% elif deadline.task_type == "forum" %}
                          onclick="location.href='/course/{{deadline.course_id}}/forum_list/{{deadline.task_id}}'"
                        {% endif %}
                >Перейти на страницу задания</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock modal_dialog %}