{% extends 'base_aut.html' %}

{% block title %}
<title>Тесты</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container border border-1 rounded m-5" style="background-color: white;">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ course.name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item active lang" aria-current="page" key="course_content">Содержание курса</li>
          </ol>
        </nav>
        <div class="row border"></div>

        <span class="fs-5 row m-3 justify-content-center"><span class="lang justify-content-center" key="">Ваш текущий уровень на курсе:</span>{{current_level}}</span>

          <div class="progresses" style="justify-content: center; padding: 30px; padding-top: 15px; padding-bottom: 5px;">

            {% set lavelNum = namespace(value=1) %}
            {% for score in levels %}
                {% if total > score %}
                    <div class="steps" style="text-align: center;">
                      <span class="font-weight-bold">{{ lavelNum.value }}</span>
                    </div>
                {% else %}
                  <div class="none-steps" style="text-align: center;">
                    <span class="font-weight-bold">{{ lavelNum.value }}</span>
                  </div>
                {% endif %}
                {% if lavelNum.value < levels|length and levels[lavelNum.value] < total %}
                    <span class="line"></span>
                {% elif lavelNum.value < levels|length %}
                    <span class="none-line"></span>
                {% endif %}
                {% set lavelNum.value = lavelNum.value + 1 %}
            {% endfor %}
          </div>

        <span class="fs-5 row m-3 justify-content-center"><span class="lang justify-content-center" key="">Набрано баллов:</span></span>
        <div style="justify-content: center; padding: 30px; padding-top: 5px;">
            <div class="progress" style="alignment: center; height: 30px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{total / current_score * 100}}%; font-size: 22px;" aria-valuenow="{{total / current_score * 100}}" aria-valuemin="0" aria-valuemax="100">{{total}}/{{current_score}}</div>
            </div>
        </div>

        {% set notAllowed = namespace(value=0) %}
        {% for unit in course.content.body %}
            <div>
                <div class="row border"></div>
                <span class="fw-bolder fs-5 row m-3 justify-content-center lang" id="{{ unit.name }}">
                    {{ unit.name }}
                </span>
                <div class="row border"></div>
                <br>
            </div>
            <div class="container">
                <div class="row">
                    {% for unit_test in unit.tests %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            {% if unit_test.test.avatar == None %}
                                <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');" id="{{unit.unit_id}}">
                            {% elif unit_test.unit_type == "test" %}
                                <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/testava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                            {% elif unit_test.unit_type in ("article", "file_attach") %}
                                <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/articleava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                            {% elif unit_test.unit_type == "link" %}
                                <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/linkava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                            {% elif unit_test.unit_type == "forum" %}
                                <div class="mb-2 bg-image card shadow-1-strong dnd-unit" style="background-image: url('/forumava/{{ unit_test.test.test_id }}');" id="{{unit.unit_id}}">
                            {% endif %}
                                <div class="card-body text-white">
                                    <h5 class="card-title" style="text-shadow: 2px 2px 2px black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{unit_test.test.content.name}}</h5>
                                    <p class="card-text">
                                        {% if unit_test.test.description != None %}
                                            <div style="text-shadow: 2px 2px 2px black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{unit_test.test.description}}</div>
                                        {% else %}
                                            <text class="lang" key="desc" style="text-shadow: 2px 2px 2px black;">Описание</text>
                                        {% endif %}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        {% if unit_test.unit_type == "test" %}
                                            <form action="/course/{{course.course_id}}/test_preview/{{unit_test.test.test_id}}">
                                                {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                                    {%  if notAllowed.value > 0 %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="test" id="test-button" disabled>Тест</button>
                                                    {% else %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="test" id="test-button">Тест</button>
                                                    {% endif %}
                                                    {% set notAllowed.value = notAllowed.value + 1 %}
                                                {% else %}
                                                    <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="test" id="test-button">Тест</button>
                                                {% endif %}
                                            </form>
                                        {% elif unit_test.unit_type == "article" %}
                                            <form action="/course/{{course.course_id}}/article/{{unit_test.test.test_id}}">
                                                {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                                    {%  if notAllowed.value > 0 %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="article" id="lection-button" disabled>Статья</button>
                                                    {% else %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="article" id="lection-button">Статья</button>
                                                    {% endif %}
                                                    {% set notAllowed.value = notAllowed.value + 1 %}
                                                {% else %}
                                                    <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="article" id="lection-button">Статья</button>
                                                {% endif %}
                                            </form>
                                        {% elif unit_test.unit_type == "link" %}
                                            <form action="/course/{{course.course_id}}/link/{{unit_test.test.test_id}}">
                                                {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                                    {%  if notAllowed.value > 0 %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="link" id="lection-button" disabled>Ссылка</button>
                                                    {% else %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="link" id="lection-button">Ссылка</button>
                                                    {% endif %}
                                                    {% set notAllowed.value = notAllowed.value + 1 %}
                                                {% else %}
                                                    <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="link" id="lection-button">Ссылка</button>
                                                {% endif %}
                                            </form>
                                        {% elif unit_test.unit_type == "file_attach" %}
                                            <form action="/course/{{course.course_id}}/file_attach_preview/{{unit_test.test.test_id}}">
                                                {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                                    {%  if notAllowed.value > 0 %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="file_attach" id="lection-button" disabled>Файл</button>
                                                    {% else %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="file_attach" id="lection-button">Файл</button>
                                                    {% endif %}
                                                    {% set notAllowed.value = notAllowed.value + 1 %}
                                                {% else %}
                                                    <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="file_attach" id="lection-button">Файл</button>
                                                {% endif %}
                                            </form>
                                        {% elif unit_test.unit_type == "forum" %}
                                            <form action="/course/{{course.course_id}}/forum_list/{{unit_test.test.test_id}}">
                                                {% if not results[unit_test.test.test_id|string + unit_test.unit_type] %}
                                                    {%  if notAllowed.value > 0 %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="forum" id="lection-button" disabled>Форум</button>
                                                    {% else %}
                                                        <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="forum" id="lection-button">Форум</button>
                                                    {% endif %}
                                                    {% set notAllowed.value = notAllowed.value + 1 %}
                                                {% else %}
                                                    <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light lang" key="forum" id="lection-button">Форум</button>
                                                {% endif %}
                                            </form>
                                        {% endif %}
                                        {% if  unit_test.test.test_id|string + unit_test.unit_type in deadlines.keys() %}
                                            <span class="hover-text">
                                                <button style="text-shadow: 2px 2px 2px black;" class="btn btn-outline-light tooltip-toggle">
                                                    <i class="fa-solid fa-stopwatch" style="font-size: 15px; color: white"></i>
                                                </button>
                                                <span class="tooltip-text"><text class="lang" key="task_deadline">Крайний срок выполнения задания</text>: {{deadlines[unit_test.test.test_id|string + unit_test.unit_type]}}</span>
                                            </span>
                                        {% endif %}
                                        {% if  results[unit_test.test.test_id|string + unit_test.unit_type] == True %}
                                            <span class="badge rounded-pill badge-success lang" key="done" style="padding: 11px">Выполнено</span>
                                        {% elif results[unit_test.test.test_id|string + unit_test.unit_type] == False %}
                                            <span class="badge rounded-pill badge-primary lang" key="checking" style="padding: 11px">На проверке</span>
                                        {% else %}
                                            <span class="badge rounded-pill badge-warning lang" key="not_done" style="padding: 11px">Не выполнено</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <form action="/course/{{course.course_id}}/summary" method="GET">
            <div id="div_element_button" style="margin-right: 8px;">
                <button class="btn btn-outline-dark btn-rounded lang" key="show_summary" id="show-button" style="display: inline-block; margin-bottom: 10px;">Посмотреть сводку о прогрессе</button>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/static/css/tests.css"/>
{% endblock %}