{% extends 'base_aut.html' %}

{% block title %}
<title>Конструктор тестов</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang" key="test_constructor">
            Конструктор тестов
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item active lang" key="test_constructor" aria-current="page">Конструктор тестов</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">
            <textarea required class="form-control langp" key="test_name" maxlength="1000" placeholder="Название теста" name="testName" rows="1"></textarea>
            <hr>

            <div id="questionsList" style="padding-top: 8px;">
                <!-- Область добавления вопросов -->

                <div style="display: flex; padding-bottom: 20px;" class="question_div">
                    <div class="card" style="background:#d9d9d9; height: 115px; margin-right: 10px;">
                        <div class="card-body">
                            <div class="form-group">
                                <p><text class="lang" key="question">Вопрос</text> №</p>
                                <label class="lang" key="score">Баллы: </label>
                                <input style="width:40px;">
                            </div>
                        </div>
                    </div>
                <div class="card" style="background:#bde0ff; flex: 1;">
                            <div style="height: 35px; justify-content: center; display: flex;" draggable="true" >
                                <img src="/static/img/drag_n_drop.png" style="height: 35px;">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                        <textarea maxlength="5000" required rows="1" class="form-control langp" key="question_text" placeholder="Текст вопроса"></textarea>
                                    <hr>
                                    <span class="fs-5 row m-3 justify-content-start lang">
                                        <div class="flex-column">
                                            <div id="canvasContainer" style="height: 586px; overflow-y: hidden; overflow-x: visible">
                                                <canvas id="canvas" width="1036px" height="9999px"></canvas>
                                            </div>
                                            <style>
                                                #canvas{
                                                    border:1px solid red;
                                                    background-image: url("/courseava/{{ course.course_id }}") ;
                                                }
                                            </style>
                                            <form action="" method="POST" enctype="multipart/form-data" style="max-width: 290px; margin: 0 auto;">
                                                <input type="file" name="file" class="form-control" id="customFile" />
                                                <a><button class="btn border border-2 w-100 lang" key="" id="addBackgroundImage" type="button">Добавить фоновое изображение</button></a>
                                            </form>
                                        </div>
                                    </span>
                                    <div  class="row container-fluid" class="answer_div">
                                        <div style="padding-bottom: 10px; display: flex; align-items: center;" class="answer_div">
                                            <div style="width: 75px; margin-right: 4px;" class="lang" key="marker">Маркер</div>
                                            <textarea maxlength="5000" required class="form-control langp" key="marker_name" id="marker" rows="1" placeholder="Название маркера"></textarea>
                                            <div style="width: 400px; margin-left: 8px; margin-right: 4px;" class="lang" key="marker">Форма зоны</div>
                                            <select class="form-select" id="ZoneFigure" style="width: 180px;" >
                                                <option class="lang" key="circle">Окружность</option>
                                                <option selected class="lang" key="polygon">Многоугольник</option>
                                            </select>
                                            <div style="width: 160px; margin-left: 8px; margin-right: 4px;" class="lang" key="marker">Координаты</div>
                                            <textarea maxlength="5000" required class="form-control langp" id="coordinates" key="zone_coordinates" rows="1" placeholder="Координаты зоны"></textarea>
                                            <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 25px; margin-left: 5px;">✖</button>
                                            <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" class="dnd answer_div">
                                            </div>
                                            <br>
                                        </div>
                                        <div style="color: gray; font-size: 14px;" class="lang to_del" key="">*Примечание: </div>
                                    </div>
                                    <br>
                                </div>
                                <div style="display: flex;">
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="add_answer" style="background-color:transparent; color:black;" type="button">Добавить ответ</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="delete_answer" style="background-color:red; color:white;" type="button">Удалить вопрос</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <select class="form-select" width="20px" >
                                                <option selected class="lang" key="drag_markers">Перетаскивание маркеров</option>
                                                <option class="lang" key="solo">Единственный ответ</option>
                                                <option class="lang" key="multiple">Множественный ответ</option>
                                                <option class="lang" key="compliance">На соответствие</option>
                                                <option class="lang" key="free">Краткий свободный ответ</option>
                                                <option class="lang" key="detailed_free">Свободный ответ</option>
                                                <option  class="lang" key="info_block">Информационный блок</option>
                                        </select>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↑</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↓</button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
            <hr>
            <div style="padding-bottom: 10px;">
                <button class="btn btn-primary lang" key="add_question"
                        id="addQuestion" style=
                        "background-color:green;" type="button">
                        Добавить вопрос
                    </button>
                <button class="btn btn-primary lang" key="save_test" type="submit"
                        id="saveTest" style=
                        "background-color:yellowgreen;">
                        Сохранить тест
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
    <!-- Scripts -->
    <script type="module" src="/static/js/test_constructor.js"></script>
    <script src="/static/js/ImageTools.js"></script>

<script>
                                            window.onload=function(){
                                                // get canvas related references
                                                var canvas=document.getElementById("canvas");
                                                var ctx=canvas.getContext("2d");
                                                var BB=canvas.getBoundingClientRect();
                                                var scrollOffsetY = document.getElementsByClassName("content")[0].scrollTop;
                                                var offsetX=BB.left;
                                                var offsetY=BB.top;
                                                var WIDTH = canvas.width;
                                                var HEIGHT = canvas.height;
                                                var vertexRadius = 6
                                                let marker_name = "";
                                                let zoneFigure = document.getElementById("ZoneFigure");
                                                let selectedOption;

                                                // drag related variables
                                                var dragok = false;
                                                var startX;
                                                var startY;

                                                // an array of objects that define different rectangles
                                                var rects=[];
                                                rects.push({vertexes:[{x:10,y:10,v:false},{x:10,y:60,v:false},{x:60,y:60,v:false},{x:60,y:10,v:false}],isDragging:false,selected:false});
                                                let circles=[];
                                                circles.push({x:60,y:60,radius:40,isDragging:false,selected:false})

                                                // listen for mouse events
                                                canvas.onmousedown = myDown;
                                                canvas.onmouseup = myUp;
                                                canvas.onmousemove = myMove;

                                                // call to draw the scene
                                                draw_rect();

                                                // draw a single rect
                                                function rect(figure) {
                                                    let vertXsum = 0;
                                                    let vertYsum = 0;
                                                    for(var i=1;i<figure.vertexes.length + 1;i++){
                                                        ctx.beginPath();
                                                        if(i === figure.vertexes.length){
                                                            ctx.moveTo(figure.vertexes[i-1].x,figure.vertexes[i-1].y);
                                                            ctx.lineTo(figure.vertexes[0].x,figure.vertexes[0].y);
                                                        }else{
                                                           ctx.moveTo(figure.vertexes[i-1].x,figure.vertexes[i-1].y);
                                                           ctx.lineTo(figure.vertexes[i].x,figure.vertexes[i].y);
                                                           vertXsum += figure.vertexes[i].x;
                                                           vertYsum += figure.vertexes[i].y;
                                                        }
                                                        ctx.stroke();
                                                        if(i === 1){
                                                            vertXsum += figure.vertexes[i-1].x;
                                                            vertYsum += figure.vertexes[i-1].y;
                                                        }
                                                    }
                                                    ctx.beginPath();
                                                    let xm = vertXsum / figure.vertexes.length;
                                                    let ym = vertYsum / figure.vertexes.length;
                                                    ctx.fillStyle = "#FFF";
                                                    ctx.textBaseline = "center";
                                                    ctx.textAlign = "center";
                                                    ctx.font = 'bold 26px sans-serif';
                                                    ctx.fillText(marker_name, xm, ym);
                                                    ctx.fill();
                                                    ctx.lineWidth=1;
                                                    ctx.strokeStyle = "#000";
                                                    ctx.strokeText(marker_name, xm, ym);
                                                    ctx.stroke();
                                                    ctx.strokeStyle = "#000";
                                                }

                                                // clear the canvas
                                                function clear() {
                                                 ctx.clearRect(0, 0, WIDTH, HEIGHT);
                                                }

                                                // redraw the scene
                                                function draw_rect(change_val=true) {
                                                    clear();
                                                    // redraw each rect in the rects[] array
                                                    for(var i=0;i<rects.length;i++){
                                                        var r=rects[i];
                                                        ctx.strokeStyle=r.fill;
                                                        ctx.lineWidth=3;
                                                        rect(r);
                                                        if(r.selected){
                                                            draw_selection()
                                                        }
                                                        if(change_val){
                                                            coordinates = document.getElementById("coordinates");
                                                            str_to_show = ""
                                                            for(var j=0;j<r.vertexes.length;j++){
                                                                str_to_show += r.vertexes[j].x + "," + r.vertexes[j].y + ";"
                                                            }
                                                            coordinates.value = str_to_show;
                                                        }
                                                    }
                                                }
                                                function draw_selection() {
                                                    for(var i=0;i<rects[0].vertexes.length;i++){
                                                        ctx.fillStyle="#ff0000";
                                                        ctx.strokeStyle="#ffffff";
                                                        ctx.lineWidth=3;
                                                        ctx.beginPath();
                                                        ctx.arc(rects[0].vertexes[i].x,rects[0].vertexes[i].y,vertexRadius,2*Math.PI,false);
                                                        ctx.stroke();
                                                        ctx.closePath();
                                                        ctx.fill();
                                                    }
                                                }

                                                function circle(figure) {
                                                    ctx.beginPath();
                                                    ctx.arc(figure.x, figure.y, figure.radius, 0, 2 * Math.PI, false);
                                                    ctx.stroke();
                                                    ctx.beginPath();
                                                    ctx.fillStyle = "#FFF";
                                                    ctx.textBaseline = "center";
                                                    ctx.textAlign = "center";
                                                    ctx.font = 'bold 26px sans-serif';
                                                    ctx.fillText(marker_name, figure.x, figure.y);
                                                    ctx.fill();
                                                    ctx.lineWidth=1;
                                                    ctx.strokeStyle = "#000";
                                                    ctx.strokeText(marker_name, figure.x, figure.y);
                                                    ctx.stroke();
                                                    ctx.strokeStyle = "#000";
                                                }
                                                function draw_circle(change_val=true) {
                                                    clear();
                                                    // redraw each rect in the rects[] array
                                                    for(var i=0;i<circles.length;i++){
                                                        var c=circles[i];
                                                        ctx.strokeStyle="#ffffff";
                                                        ctx.lineWidth=3;
                                                        circle(c);
                                                        if(c.selected){
                                                            // draw_selection()
                                                        }
                                                        if(change_val){
                                                            coordinates = document.getElementById("coordinates");
                                                            coordinates.value = c.x + "," + c.y + "," + c.radius;
                                                        }
                                                    }
                                                }


                                                // handle mousedown events
                                                function myDown(e){

                                                    // tell the browser we're handling this mouse event
                                                    e.preventDefault();
                                                    e.stopPropagation();

                                                    // get the current mouse position
                                                    scrollOffsetY = document.getElementsByClassName("content")[0].scrollTop;
                                                    var mx=parseInt(e.clientX-offsetX);
                                                    var my=parseInt(e.clientY-offsetY+scrollOffsetY);

                                                    selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                    if(selectedOption.getAttribute('key') === "polygon") {
                                                        // test each rect to see if mouse is inside
                                                        dragok = false;
                                                        for (var i = 0; i < rects.length; i++) {
                                                            var r = rects[i];
                                                            let vertexSelected = false;
                                                            let vertXsum = 0;
                                                            let vertYsum = 0;
                                                            if (r.selected) {
                                                                for (var j = 0; j < r.vertexes.length; j++) {
                                                                    if (Math.pow(mx - r.vertexes[j].x, 2) + Math.pow(my - r.vertexes[j].y, 2) <= Math.pow(vertexRadius, 2)) {
                                                                        r.vertexes[j].v = true;
                                                                        vertexSelected = true;
                                                                    }
                                                                }
                                                            }
                                                            for (j = 0; j < r.vertexes.length; j++) {
                                                                vertXsum += r.vertexes[j].x;
                                                                vertYsum += r.vertexes[j].y;
                                                            }

                                                            let xm = vertXsum / r.vertexes.length;
                                                            let ym = vertYsum / r.vertexes.length;
                                                            if (mx > xm - 32 && mx < xm + 32 && my > ym - 15 && my < ym + 15 || vertexSelected === true) {
                                                                // if yes, set that rects isDragging=true
                                                                dragok = true;
                                                                if (!vertexSelected)
                                                                    r.isDragging = true;
                                                                r.selected = true;
                                                                r.fill = "#ffffff";
                                                            } else {
                                                                r.selected = false;
                                                            }
                                                        }
                                                        draw_rect();
                                                    } else if(selectedOption.getAttribute('key') === "circle") {
                                                        dragok = false;
                                                        for (i = 0; i < circles.length; i++) {
                                                            let c = circles[i]
                                                            if (mx > c.x - 32 && mx < c.x + 32 && my > c.y - 15 && my < c.y + 15) {
                                                                dragok = true;
                                                                c.isDragging = true;
                                                                c.selected = true;
                                                                c.fill = "#ffffff";
                                                            } else {
                                                                c.selected = false;
                                                            }
                                                        }
                                                        draw_circle();
                                                    }
                                                    // save the current mouse position
                                                    startX = mx;
                                                    startY = my;
                                                }


                                                // handle mouseup events
                                                function myUp(e){
                                                    // tell the browser we're handling this mouse event
                                                    e.preventDefault();
                                                    e.stopPropagation();

                                                    selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                    if(selectedOption.getAttribute('key') === "polygon") {
                                                        // clear all the dragging flags
                                                        for(var i=0;i<rects.length;i++){
                                                            var r=rects[i];
                                                            r.isDragging=false;
                                                            r.fill="#444444";
                                                            for (var j = 0; j < r.vertexes.length; j++) {
                                                                r.vertexes[j].v = false
                                                            }
                                                        }
                                                        draw_rect();
                                                    } else if(selectedOption.getAttribute('key') === "circle") {
                                                        for(i=0;i<circles.length;i++){
                                                            var c=circles[i];
                                                            c.isDragging=false;
                                                            c.fill="#444444";
                                                        }
                                                        draw_circle();
                                                    }
                                                }


                                                // handle mouse moves
                                                function myMove(e){
                                                    // if we're dragging anything...
                                                    if (dragok){

                                                      // tell the browser we're handling this mouse event
                                                      e.preventDefault();
                                                      e.stopPropagation();

                                                      // get the current mouse position
                                                      scrollOffsetY = document.getElementsByClassName("content")[0].scrollTop;
                                                      var mx=parseInt(e.clientX-offsetX);
                                                      var my=parseInt(e.clientY-offsetY+scrollOffsetY);

                                                      // calculate the distance the mouse has moved
                                                      // since the last mousemove
                                                      var dx=mx-startX;
                                                      var dy=my-startY;

                                                      selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                      if(selectedOption.getAttribute('key') === "polygon") {
                                                          // move each rect that isDragging
                                                          // by the distance the mouse has moved
                                                          // since the last mousemove
                                                          for(var i=0;i<rects.length;i++){
                                                              var r=rects[i];
                                                            for (var j = 0; j < r.vertexes.length; j++) {
                                                                if (r.vertexes[j].v) {
                                                                    r.vertexes[j].x+=dx;
                                                                    r.vertexes[j].y+=dy;
                                                                }
                                                            }
                                                            if(r.isDragging){
                                                                for (j = 0; j < r.vertexes.length; j++) {
                                                                    r.vertexes[j].x+=dx;
                                                                    r.vertexes[j].y+=dy;
                                                                }
                                                              }
                                                          }
                                                          // redraw the scene with the new rect positions
                                                          draw_rect();
                                                      } else if(selectedOption.getAttribute('key') === "circle") {
                                                          for(i=0;i<circles.length;i++){
                                                            let c=circles[i];
                                                            if(c.isDragging){
                                                                c.x+=dx;
                                                                c.y+=dy;
                                                              }
                                                          }
                                                          draw_circle();
                                                      }

                                                      // reset the starting mouse position for the next mousemove
                                                      startX=mx;
                                                      startY=my;

                                                    }
                                                }

                                                marker = document.getElementById("marker");
                                                marker.addEventListener('input', function (evt) {
                                                    marker_name = marker.value;
                                                    selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                    if(selectedOption.getAttribute('key') === "polygon") {
                                                        draw_rect();
                                                    } else if(selectedOption.getAttribute('key') === "circle") {
                                                        draw_circle();
                                                    }
                                                });

                                                zoneFigure.addEventListener('change', function (evt) {
                                                    selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                    if(selectedOption.getAttribute('key') === "polygon") {
                                                        draw_rect();
                                                    }else if(selectedOption.getAttribute('key') === "circle") {
                                                        draw_circle()
                                                    }
                                                });

                                                let buttonAddBackground = document.getElementById("addBackgroundImage");
                                                buttonAddBackground.addEventListener('click', function (evt) {
                                                    let customFile = document.getElementById("customFile");
                                                    let file = customFile.files[0];
                                                    let canvas = document.getElementById("canvas");
                                                    let canvasContainer = document.getElementById("canvasContainer");
                                                    let reader = new FileReader();
                                                    reader.onload = function(event) {
                                                        const image = new Image();
                                                        image.src = event.target.result;
                                                        image.onload = function () {
                                                            let height = this.height;
                                                            let width = this.width;
                                                            if(width > 1036){
                                                                let ratio = height / width;
                                                                width = 1036;
                                                                height = width * ratio;
                                                                ImageTools.resize(file, {
                                                                    width: width,
                                                                    height: height
                                                                }, function(blob, didItResize) {
                                                                    canvas.height = height;
                                                                    canvas.width = width;
                                                                    canvasContainer.setAttribute("height", height + "px");
                                                                    canvasContainer.setAttribute("width", width + "px");
                                                                    $('#canvas').css('background-image', 'url(' + window.URL.createObjectURL(blob) + ')');
                                                                });
                                                            }else{
                                                                canvas.height = height;
                                                                canvas.width = width;
                                                                canvasContainer.setAttribute("height", height + "px");
                                                                canvasContainer.setAttribute("width", width + "px");
                                                                $('#canvas').css('background-image', 'url(' + image.src + ')');
                                                            }
                                                        };
                                                    };
                                                    reader.readAsDataURL(file);
                                                });

                                                coordinates = document.getElementById("coordinates");
                                                coordinates.addEventListener('input', function (evt) {
                                                    let string = coordinates.value;

                                                    selectedOption = zoneFigure.options[zoneFigure.selectedIndex];
                                                    if(selectedOption.getAttribute('key') === "polygon") {
                                                        let coordsAmount = coordinates.value.match(/;/g).length;
                                                        let delimiter, coords, comma;
                                                        rects[0].vertexes = []
                                                        for(let i = 0; i < coordsAmount; i++){
                                                            if(i > 0){
                                                                delimiter = string.indexOf(";");
                                                                string = string.slice(delimiter+1);
                                                            }
                                                            delimiter = string.indexOf(";");
                                                            if(delimiter > 0)
                                                                coords = string.slice(0, delimiter);
                                                            else
                                                                coords = string
                                                            comma = coords.indexOf(",");
                                                            let new_x = parseInt(coords.slice(0, comma));
                                                            let new_y = parseInt(coords.slice(comma+1));
                                                            rects[0].vertexes.push({x:new_x, y: new_y, v:false})
                                                        }
                                                        draw_rect(false);
                                                    } else if(selectedOption.getAttribute('key') === "circle") {
                                                        delimiter = string.indexOf(",");
                                                        circles[0].x = parseInt(string.slice(0, delimiter));
                                                        string = string.slice(delimiter+1);
                                                        delimiter = string.indexOf(",");
                                                        circles[0].y = parseInt(string.slice(0, delimiter));
                                                        string = string.slice(delimiter+1);
                                                        circles[0].radius = parseInt(string);
                                                        draw_circle();
                                                    }
                                                });
                                            };
                                            </script>
{% endblock %}