{% extends 'base_aut.html' %}

{% block title %}
<title>Конструктор тестов</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="row m-3 justify-content-start lang">
            Конструктор тестов
        </span>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">
            <textarea required class="form-control" placeholder="Название теста" name="testName" rows="1"></textarea>
            <hr>

            <div id="questionsList" style="padding-top: 8px;"></div>
            <hr>
            <div style="padding-bottom: 10px;">
                <button class="btn btn-primary"
                        id="addQuestion" style=
                        "background-color:green;" type="button">
                        Добавить вопрос
                    </button>
                <button class="btn btn-primary" type="submit"
                        id="saveTest" style=
                        "background-color:yellowgreen;">
                        Сохранить тест
                    </button>
            </div>
        </form>
    </div>
</div>
<style>
    .scale {
        transition: 0.5s; /* Время эффекта */
    }
    .scale:hover {
        transform: scale(1.05); /* Увеличиваем масштаб */
    }
    .scale2 {
        transition: 0.5s; /* Время эффекта */
    }
    .scale2:hover {
        transform: scale(1.02); /* Увеличиваем масштаб */
    }
</style>
{% endblock %}
{% block script %}
    <script>
    function childOf(c,p){while((c=c.parentNode)&&c!==p);return !!c}
    let questions_list = document.getElementById("questionsList")
    questions_list.addEventListener(`dragover`, (evt) => {
        // Разрешаем сбрасывать элементы в эту область
        evt.preventDefault();

        // Находим перемещаемый элемент
        const activeElement = questions_list.querySelector(`.selected`);
        // Находим элемент, над которым в данный момент находится курсор
        const currentElement = evt.target;
        // Проверяем, что событие сработало:
        // 1. не на том элементе, который мы перемещаем,
        // 2. именно на элементе списка
        const isMoveable = activeElement !== currentElement &&
        currentElement.classList.contains(`question_div`) && activeElement.classList.contains(`question_div`);

        // Если нет, прерываем выполнение функции
        if (!isMoveable)
            return;

        // Находим элемент, перед которым будем вставлять
        const nextElement = (currentElement === activeElement.nextElementSibling) ?
          currentElement.nextElementSibling :
          currentElement;

        // Вставляем activeElement перед nextElement
        questions_list.insertBefore(activeElement, nextElement);
    });

    // Добавление вопроса
    let addBtn = document.getElementById("addQuestion");
    var questionIndex = 0;
    var answerIndex = 0;
    addBtn.addEventListener("click", function(e) {
        // Внешний div
        let div = document.createElement('div');
        div.setAttribute('id', "delQue-" + questionIndex);
        div.setAttribute('class', "question_div");
        // Карточка вопроса
        let divCard = document.createElement('div');
        divCard.setAttribute('class', "card");

        // Drag'n'drop область
        let divDragCard = document.createElement('div');
        divDragCard.setAttribute('style', "height: 35px; justify-content: center; display: flex;");
        let dragImg = document.createElement('img');
        dragImg.setAttribute('src', "static/img/drag_n_drop.png");
        dragImg.setAttribute('style', "height: 35px;");
        divDragCard.setAttribute('draggable', "True");
        divDragCard.addEventListener(`mouseover`, (evt) => {
          document.body.style.cursor = 'move';
        })
        divDragCard.addEventListener(`mouseout`, (evt) => {
          document.body.style.cursor = '';
        })
        divDragCard.addEventListener(`dragstart`, (evt) => {
          evt.dataTransfer.setDragImage(div, div.offsetWidth / 1.78, div.offsetHeight / 18)
          setTimeout(() => {
              div.classList.add(`selected`);
              div.style.visibility  = "hidden"
          }, 0);
        })
        divDragCard.addEventListener(`dragend`, (evt) => {
          setTimeout(() => {
              div.classList.remove(`selected`);
              div.style.removeProperty("visibility")
          }, 0);
        });

        let divCardBody = document.createElement('div');
        divCardBody.setAttribute('class', "card-body");
        let formGroup = document.createElement('div');
        formGroup.setAttribute('class', "form-group");
        // Содержимое карточки
        let textareaQuestion = document.createElement('textarea');
        textareaQuestion.setAttribute('class', "form-control");
        textareaQuestion.setAttribute('placeholder', "Текст вопроса");
        textareaQuestion.setAttribute('id', "question");
        textareaQuestion.setAttribute('rows', "1");
        textareaQuestion.setAttribute('required', 'true');
        textareaQuestion.setAttribute('name', 'Question-' + questionIndex);
        let hr = document.createElement('hr');
        let divIndex = document.createElement('div');
        divIndex.setAttribute('class', "row container-fluid");
        divIndex.setAttribute('id', "addAns-" + questionIndex);
        let divTextLabel = document.createElement('div');
        divTextLabel.setAttribute('style', "padding-bottom: 10px; display: flex; align-items: center;");
        divTextLabel.setAttribute('id', "delAns-" + answerIndex);
        divTextLabel.setAttribute('class', "answer_div");
        let textareaAnswer = document.createElement('textarea');
        textareaAnswer.setAttribute('class', "form-control");
        textareaAnswer.setAttribute('placeholder', "Текст ответа");
        textareaAnswer.setAttribute('name', "Answer-" + questionIndex + "-" + answerIndex);
        textareaAnswer.setAttribute('rows', "1");
        textareaAnswer.setAttribute('required', 'true');
        let label = document.createElement('label');
        label.setAttribute('for', "addAnswerText");
        label.setAttribute('style', "padding-right: 8px;");
        let input = document.createElement('input');
        input.setAttribute('type', "radio");
        let br = document.createElement('br');
        let button = document.createElement('button');
        button.setAttribute('class', "btn");
        button.setAttribute('style', "background-color:transparent; color:black;");
        button.setAttribute('onclick', "addAnswerOnButtonClick(\"addAns-\" + this.id)");
        button.textContent = "Добавить ответ"
        button.setAttribute('id', questionIndex);
        button.setAttribute('type', "button");
        input.setAttribute('name', "Right_Answer-" +  answerIndex);
        let buttonDelQuestion = document.createElement('button');
        buttonDelQuestion.setAttribute('class', "btn");
        buttonDelQuestion.setAttribute('type', "button");
        buttonDelQuestion.setAttribute('style', "background-color:red; color:white;");
        buttonDelQuestion.setAttribute('onclick', "deleteElement(\"delQue-\" + this.id)");
        buttonDelQuestion.textContent = "Удалить вопрос"
        buttonDelQuestion.setAttribute('id', questionIndex);
        let buttonUpQuestion = document.createElement('button');
        buttonUpQuestion.setAttribute('type', "button");
        buttonUpQuestion.setAttribute('class', "btn");
        buttonUpQuestion.setAttribute('style', "background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;");
        buttonUpQuestion.addEventListener("click", function() {
            let questionsList = document.getElementById("questionsList");
            questionsList.insertBefore(div, div.previousElementSibling);
        });
        buttonUpQuestion.textContent = "↑"
        let buttonDownQuestion = document.createElement('button');
        buttonDownQuestion.setAttribute('type', "button");
        buttonDownQuestion.setAttribute('class', "btn");
        buttonDownQuestion.setAttribute('style', "background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;");
        buttonDownQuestion.addEventListener("click", function() {
            let questionsList = document.getElementById("questionsList");
            if(div.nextElementSibling == null){
                questionsList.insertBefore(div, questionsList.firstChild);
            }else{
                questionsList.insertBefore(div.nextElementSibling, div);
            }
        });
        buttonDownQuestion.textContent = "↓"
        let buttonDel = document.createElement('button');
        buttonDel.setAttribute('class', "btn");
        buttonDel.setAttribute('style', "background-color:red; color:white; padding: 4px; width: 25px;");
        buttonDel.setAttribute('onclick', "deleteElement(\"delAns-\" + this.id)");
        buttonDel.textContent = "✖"
        buttonDel.setAttribute('id', answerIndex);
        let divDel = document.createElement('div');
        divDel.setAttribute('style', "padding-left: 5px;");

        divIndex.addEventListener(`dragover`, (evt) => {
            evt.preventDefault();
            const activeElement = questions_list.querySelector(`.selected`);
            const currentElement = evt.target;
            const isMoveable = activeElement !== currentElement &&
            currentElement.classList.contains(`answer_div`) && activeElement.classList.contains(`answer_div`) && childOf(activeElement, divIndex);
            if (!isMoveable)
                return;
            const nextElement = (currentElement === activeElement.nextElementSibling) ?
              currentElement.nextElementSibling :
              currentElement;
            divIndex.insertBefore(activeElement, nextElement);
        });
        let divAnsCard = document.createElement('div');
        divAnsCard.setAttribute('style', "height: 30px; justify-content: center; display: flex;");
        let dragAnsImg = document.createElement('img');
        dragAnsImg.setAttribute('src', "static/img/drag_n_drop.png");
        dragAnsImg.setAttribute('style', "height: 30px; transform: rotate(90deg);");
        divAnsCard.setAttribute('draggable', "True");
        divAnsCard.addEventListener(`mouseover`, (evt) => {
          document.body.style.cursor = 'move';
        })
        divAnsCard.addEventListener(`mouseout`, (evt) => {
          document.body.style.cursor = '';
        })
        divAnsCard.addEventListener(`dragstart`, (evt) => {
          evt.dataTransfer.setDragImage(divTextLabel, divTextLabel.offsetWidth / 1.032, divTextLabel.offsetHeight / 2)
          setTimeout(() => {
              divTextLabel.classList.add(`selected`);
              divTextLabel.style.visibility  = "hidden"
          }, 0);
        })
        divAnsCard.addEventListener(`dragend`, (evt) => {
          setTimeout(() => {
              divTextLabel.classList.remove(`selected`);
              divTextLabel.style.removeProperty("visibility")
          }, 0);
        });

        let questionType = document.createElement('select')
        questionType.setAttribute('class', "form-select");
        questionType.setAttribute('width', "20px");
        questionType.setAttribute('id', "QT-" + questionIndex);
        questionType.setAttribute('name', "QuestionType-" + questionIndex);
        let radio = document.createElement('option')
        radio.textContent = "Единственный ответ"
        let check = document.createElement('option')
        check.textContent = "Множественный ответ"
        let word = document.createElement('option')
        word.textContent = "Краткий свободный ответ"
        let text = document.createElement('option')
        text.textContent = "Свободный ответ"
        let info = document.createElement('option')
        info.textContent = "Информационный блок"
        let divController = document.createElement('div');
        divController.setAttribute('style', "display: flex;");
        let divBT = document.createElement('div');
        divBT.setAttribute('style', "padding-left: 5px;");
        let divDQ = document.createElement('div');
        divDQ.setAttribute('style', "padding-left: 5px;");
        let divUP = document.createElement('div');
        divUP.setAttribute('style', "padding-left: 5px;");
        let divDW = document.createElement('div');
        divDW.setAttribute('style', "padding-left: 5px;");
        let divQT = document.createElement('div');
        divQT.setAttribute('style', "width: 280px; padding-left: 5px;");
        questionType.appendChild(radio)
        questionType.appendChild(check)
        questionType.appendChild(word)
        questionType.appendChild(text)
        questionType.appendChild(info)
        questionType.addEventListener("change", function() {
        let selectedOption = questionType.options[questionType.selectedIndex];
            if(selectedOption.text === "Единственный ответ" ||  selectedOption.text === "Множественный ответ") {
                textareaQuestion.setAttribute('rows', "1");
                let divIndexNew = document.createElement('div');
                divIndexNew.setAttribute('class', "row container-fluid");
                divIndexNew.setAttribute('id', divIndex.id);
                let divTextLabel = document.createElement('div');
                divTextLabel.setAttribute('style', "padding-bottom: 10px; display: flex; align-items: center;");
                divTextLabel.setAttribute('id', "delAns-" + answerIndex);
                divTextLabel.setAttribute('class', "answer_div");
                let textareaAnswer = document.createElement('textarea');
                textareaAnswer.setAttribute('class', "form-control");
                textareaAnswer.setAttribute('placeholder', "Текст ответа");
                textareaAnswer.setAttribute('name', "Answer-" + questionIndex + "-" + answerIndex);
                textareaAnswer.setAttribute('rows', "1");
                let label = document.createElement('label');
                label.setAttribute('for', "addAnswerText");
                label.setAttribute('style', "padding-right: 8px;");
                let input = document.createElement('input');
                //input.setAttribute('required', 'true');
                if (selectedOption.text === "Единственный ответ") {
                    input.setAttribute('type', "radio");
                    input.setAttribute('name', "Right_Answer-" + button.id);
                }
                if (selectedOption.text === "Множественный ответ") {
                    input.setAttribute('type', "checkbox");
                    input.setAttribute('name', "Right_Answer-" + button.id + "-" + answerIndex);
                }
                let buttonDel = document.createElement('button');
                buttonDel.setAttribute('class', "btn");
                buttonDel.setAttribute('style', "background-color:red; color:white; padding: 4px; width: 25px;");
                buttonDel.setAttribute('onclick', "deleteElement(\"delAns-\" + this.id)");
                buttonDel.textContent = "✖"
                buttonDel.setAttribute('id', answerIndex);
                let divDel = document.createElement('div');
                divDel.setAttribute('style', "padding-left: 5px;");

                divIndexNew.addEventListener(`dragover`, (evt) => {
                    evt.preventDefault();
                    const activeElement = questions_list.querySelector(`.selected`);
                    const currentElement = evt.target;
                    const isMoveable = activeElement !== currentElement &&
                    currentElement.classList.contains(`answer_div`) && activeElement.classList.contains(`answer_div`) && childOf(activeElement, divIndexNew);
                    if (!isMoveable)
                        return;
                    const nextElement = (currentElement === activeElement.nextElementSibling) ?
                      currentElement.nextElementSibling :
                      currentElement;
                    divIndexNew.insertBefore(activeElement, nextElement);
                });
                let divAnsCard = document.createElement('div');
                divAnsCard.setAttribute('style', "height: 30px; justify-content: center; display: flex;");
                let dragAnsImg = document.createElement('img');
                dragAnsImg.setAttribute('src', "static/img/drag_n_drop.png");
                dragAnsImg.setAttribute('style', "height: 30px; transform: rotate(90deg);");
                divAnsCard.setAttribute('draggable', "True");
                divAnsCard.addEventListener(`mouseover`, (evt) => {
                  document.body.style.cursor = 'move';
                })
                divAnsCard.addEventListener(`mouseout`, (evt) => {
                  document.body.style.cursor = '';
                })
                divAnsCard.addEventListener(`dragstart`, (evt) => {
                  evt.dataTransfer.setDragImage(divTextLabel, divTextLabel.offsetWidth / 1.032, divTextLabel.offsetHeight / 2)
                  setTimeout(() => {
                      divTextLabel.classList.add(`selected`);
                      divTextLabel.style.visibility  = "hidden"
                  }, 0);
                })
                divAnsCard.addEventListener(`dragend`, (evt) => {
                  setTimeout(() => {
                      divTextLabel.classList.remove(`selected`);
                      divTextLabel.style.removeProperty("visibility")
                  }, 0);
                });

                divIndexNew.appendChild(divTextLabel)
                label.appendChild(input)
                divTextLabel.appendChild(label)
                divTextLabel.appendChild(textareaAnswer)
                divDel.appendChild(buttonDel)
                divTextLabel.appendChild(divDel)
                divTextLabel.appendChild(divAnsCard)
                divAnsCard.appendChild(dragAnsImg)
                let divIndexTmp = document.getElementById(divIndex.id)
                divIndexTmp.replaceWith(divIndexNew);
                let buttonNew = document.getElementById(button.id)
                buttonNew.removeAttribute("disabled");
            }
            if(selectedOption.text === "Свободный ответ" || selectedOption.text === "Краткий свободный ответ") {
                textareaQuestion.setAttribute('rows', "1");
                let divIndexNew = document.createElement('div');
                divIndexNew.setAttribute('class', "row container-fluid");
                divIndexNew.setAttribute('id', divIndex.id);
                let divTextLabel = document.createElement('div');
                divTextLabel.setAttribute('style', "padding-bottom: 10px; display: flex; align-items: center;");
                divTextLabel.setAttribute('id', "delAns-" + answerIndex);
                let textareaAnswer = document.createElement('textarea');
                textareaAnswer.setAttribute('class', "form-control");
                textareaAnswer.setAttribute('name', "Answer-" + questionIndex + "-" + answerIndex);
                if (selectedOption.text === "Краткий свободный ответ") {
                    textareaAnswer.setAttribute('placeholder', "Краткий ответ");
                    textareaAnswer.setAttribute('rows', "1");
                    textareaAnswer.removeAttribute("disabled");
                }
                if (selectedOption.text === "Свободный ответ") {
                    textareaAnswer.setAttribute('placeholder', "Развернутый ответ");
                    textareaAnswer.setAttribute('rows', "8");
                    textareaAnswer.setAttribute("disabled", "true");
                }
                divIndexNew.appendChild(divTextLabel)
                divTextLabel.appendChild(textareaAnswer)
                let divIndexTmp = document.getElementById(divIndex.id)
                divIndexTmp.replaceWith(divIndexNew);
                let buttonNew = document.getElementById(button.id)
                buttonNew.setAttribute("disabled", "true");
            }
            if(selectedOption.text === "Информационный блок"){
                textareaQuestion.setAttribute('placeholder', "Информация");
                textareaQuestion.setAttribute('rows', "8");
                let divIndexNew = document.createElement('div');
                divIndexNew.setAttribute('class', "row container-fluid");
                divIndexNew.setAttribute('id', divIndex.id);
                let divIndexTmp = document.getElementById(divIndex.id)
                divIndexTmp.replaceWith(divIndexNew);
                let buttonNew = document.getElementById(button.id)
                buttonNew.setAttribute("disabled", "true");
            } else {
                textareaQuestion.setAttribute('placeholder', "Текст вопроса");
            }
            answerIndex += 1;
        });

        // Навигационная карточка
        let divQueCard = document.createElement('div');
        divQueCard.setAttribute('class', "card");
        divQueCard.setAttribute('style', "background:#d9d9d9; height: 120px; margin-right: 10px;");
        divCard.setAttribute('style', "background:#bde0ff; flex: 1;");
        div.setAttribute('style', "display: flex; padding-bottom: 20px;");
        let divQueCardBody = document.createElement('div');
        divQueCardBody.setAttribute('class', "card-body");
        let formQueGroup = document.createElement('div');
        formQueGroup.setAttribute('class', "form-group");
        let question = document.createElement('p');
        question.textContent = "Вопрос №" + (questionIndex + 1)
        let inputScore = document.createElement('input');
        inputScore.setAttribute('name', "score-" + questionIndex);
        inputScore.setAttribute('required', 'true');
        inputScore.setAttribute('style', 'width:40px;');
        inputScore.value = 1
        let labelScore = document.createElement('label');
        labelScore.setAttribute('for', "score-" + questionIndex);
        labelScore.textContent = "Баллы: "

        div.appendChild(divQueCard)
        divQueCard.appendChild(divQueCardBody)
        divQueCardBody.appendChild(formQueGroup)
        formQueGroup.appendChild(question)
        formQueGroup.appendChild(labelScore)
        formQueGroup.appendChild(inputScore)

        // Создание всей этой позорной иерархии
        div.appendChild(divCard)
        divCard.appendChild(divDragCard)
        divDragCard.appendChild(dragImg)
        divCard.appendChild(divCardBody)
        divCardBody.appendChild(formGroup)
        formGroup.appendChild(textareaQuestion)
        formGroup.appendChild(hr)
        formGroup.appendChild(divIndex)
        divIndex.appendChild(divTextLabel)
        label.appendChild(input)
        divTextLabel.appendChild(label)
        divTextLabel.appendChild(textareaAnswer)
        divDel.appendChild(buttonDel)
        divTextLabel.appendChild(divDel)
        divTextLabel.appendChild(divAnsCard)
        divAnsCard.appendChild(dragAnsImg)
        formGroup.appendChild(br)
        divBT.appendChild(button)
        divController.appendChild(divBT)
        divDQ.appendChild(buttonDelQuestion)
        divUP.appendChild(buttonUpQuestion)
        divDW.appendChild(buttonDownQuestion)
        divController.appendChild(divDQ)
        divQT.appendChild(questionType)
        divController.appendChild(divQT)
        divController.appendChild(divUP)
        divController.appendChild(divDW)
        formGroup.appendChild(divController)

        let answersElm = document.getElementById("questionsList");
        answersElm.appendChild(div)

        questionIndex += 1;
        answerIndex += 1;
    });

    // Добавление ответа на вопрос
    function addAnswerOnButtonClick(index) {
        let div = document.createElement('div');
        div.setAttribute('style', "padding-bottom: 10px; display: flex; align-items: center;");
        div.setAttribute('id', "delAns-" + answerIndex);
        div.setAttribute('class', "answer_div");
        let textarea = document.createElement('textarea');
        textarea.setAttribute('class', "form-control");
        textarea.setAttribute('placeholder', "Текст ответа");
        textarea.setAttribute('name', `Answer-${index.substring(7)}-${answerIndex}`);
        textarea.setAttribute('rows', "1");
        let label = document.createElement('label');
        label.setAttribute('for', "addAnswerText");
        label.setAttribute('style', "padding-right: 8px;");
        let input = document.createElement('input');
        //input.setAttribute('required', 'true');
        let questionType = document.getElementById(`QT-${index.substring(7)}`);
        let selectedOption = questionType.options[questionType.selectedIndex];
        if(selectedOption.text === "Единственный ответ") {
            input.setAttribute("type", "radio");
            input.setAttribute('name', `Right_Answer-${index.substring(7)}`);
        }
        if(selectedOption.text === "Множественный ответ") {
            input.setAttribute("type", "checkbox");
            input.setAttribute('name', `Right_Answer-${index.substring(7)}-${answerIndex}`);
        }
        let buttonDel = document.createElement('button');
        buttonDel.setAttribute('class', "btn");
        buttonDel.setAttribute('style', "background-color:red; color:white; padding: 4px; width: 25px;");
        buttonDel.setAttribute('onclick', "deleteElement(\"delAns-\" + this.id)");
        buttonDel.textContent = "✖"
        buttonDel.setAttribute('id', answerIndex);
        let divDel = document.createElement('div');
        divDel.setAttribute('style', "padding-left: 5px;");

        let divAnsCard = document.createElement('div');
        divAnsCard.setAttribute('style', "height: 30px; justify-content: center; display: flex;");
        let dragAnsImg = document.createElement('img');
        dragAnsImg.setAttribute('src', "static/img/drag_n_drop.png");
        dragAnsImg.setAttribute('style', "height: 30px; transform: rotate(90deg);");
        divAnsCard.setAttribute('draggable', "True");
        divAnsCard.addEventListener(`mouseover`, (evt) => {
          document.body.style.cursor = 'move';
        })
        divAnsCard.addEventListener(`mouseout`, (evt) => {
          document.body.style.cursor = '';
        })
        divAnsCard.addEventListener(`dragstart`, (evt) => {
          evt.dataTransfer.setDragImage(div, div.offsetWidth / 1.032, div.offsetHeight / 2)
          setTimeout(() => {
              div.classList.add(`selected`);
              div.style.visibility  = "hidden"
          }, 0);
        })
        divAnsCard.addEventListener(`dragend`, (evt) => {
          setTimeout(() => {
              div.classList.remove(`selected`);
              div.style.removeProperty("visibility")
          }, 0);
        });

        label.appendChild(input)
        div.appendChild(label)
        div.appendChild(textarea)
        divDel.appendChild(buttonDel)
        div.appendChild(divDel)
        div.appendChild(divAnsCard)
        divAnsCard.appendChild(dragAnsImg)
        let answersElm = document.getElementById(index);
        answersElm.appendChild(div);

        answerIndex += 1;
    }

    // Удаление элемента
    function deleteElement(index) {
        document.getElementById(index).remove()
    }
    </script>
{% endblock %}