{% extends 'base_aut.html' %}

{% block title %}
<title>Тест</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang" key="test_editor">
            Редактор тестов
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item active" aria-current="page"><text class="lang" key="test_editor_of">Редактор теста</text> «{{ test.name }}»</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" enctype="multipart/form-data" method="POST">
            <span class="fs-5 row m-3 justify-content-start lang">
                <textarea required style="margin-top: 8px;" class="form-control toSend langp" maxlength="1000" key="test_name" placeholder="Название теста" name="testName" rows="1">{{ test.name }}</textarea>
                <textarea style="margin-top: 8px;" class="form-control toSend langp" maxlength="1000" key="test_desc" placeholder="Описание теста" name="testDesc" rows="1">{{ test_tmp.description }}</textarea>
                <div class="flex-fill d-flex flex-column" style="width: 30%; padding: 15px; min-width: 210px;">
                    <img class="border border-2 rounded w-100" src="/testava/{{ test_id }}" style="max-width: 290px; margin: 0 auto;">
                    <div style="max-width: 290px; margin: 0 auto;">
                        <input type="file" name="file" class="form-control" id="customFile" accept=".png,.jpg,.jpeg"/>
                    </div>
                    <div style="color: gray; font-size: 14px; text-align: center;" class="lang" key="file_note">*Изображение должно иметь расширение png, jpg или jpeg и размер не более 2Мб</div>
                </div>
            </span>
            <hr>

            <div id="questionsList" style="padding-top: 8px;">
                {% set questionNum = namespace(value=0) %}
                {% for question in test.questions %}
                    {% set questionNum.value = questionNum.value + 1 %}
                    <div style="display: flex; padding-bottom: 20px;" id="card-{{ questionNum.value }}" class="question_div">
                        <div class="card" style="background:#d9d9d9; height: 115px; margin-right: 10px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <p><text class="lang" key="question">Вопрос</text> №{{ questionNum.value }}</p>
                                    <label for="score-{{questionNum.value}}" class="lang" key="score">Баллы: </label>
                                    <input type="number" id="score-{{questionNum.value}}" name="score-{{questionNum.value}}" value="{{ question.score }}" style="width:40px;">
                                </div>
                            </div>
                        </div>

                        <div class="card" style="background:#bde0ff; flex: 1;">
                            <div style="height: 35px; justify-content: center; display: flex;" id="dnd-{{ questionNum.value }}" class="{{ questionNum.value }}" draggable="true" >
                                <img src="/static/img/drag_n_drop.png" style="height: 35px;" class="{{ questionNum.value }}">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    {% if question.type == "info" %}
                                        <textarea maxlength="15000" required rows="8" class="form-control langp" key="information" name="Question-{{ questionNum.value }}" id="ask-{{ questionNum.value }}" placeholder="Информация">{{ question.ask }}</textarea>
                                    {% elif question.type == "filling_gaps" %}
                                        <textarea maxlength="15000" required rows="8" class="form-control langp" key="question_text" name="Question-{{ questionNum.value }}" id="ask-{{ questionNum.value }}" placeholder="Текст вопроса">{{ question.ask }}</textarea>
                                    {% else %}
                                        <textarea maxlength="5000" required rows="1" class="form-control langp" key="question_text" name="Question-{{ questionNum.value }}" id="ask-{{ questionNum.value }}" placeholder="Текст вопроса">{{ question.ask }}</textarea>
                                    {% endif %}
                                    <hr>
                                    <div id="addAns-{{ questionNum.value }}" class="row container-fluid" class="answer_div">
                                        {% if question.type == "solo" %}
                                        {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                            {% set answerNum.value = answerNum.value + 1 %}
                                                {% for answer_text, is_right in answer.items() %}
                                                    <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                        <label style="padding-right: 8px;" for="{{ question.ask }}">
                                                        {% if is_right %}
                                                            <input checked id="checkbox" type="radio" name="Right_Answer-{{ questionNum.value }}" value="{{ answerNum.value }}">
                                                        {% else %}
                                                            <input id="checkbox" type="radio" name="Right_Answer-{{ questionNum.value }}" value="{{ answerNum.value }}">
                                                        {% endif %}
                                                        </label>
                                                        <textarea maxlength="5000" required class="form-control langp" key="answer_text" rows="1" placeholder="Текст ответа" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer_text }}</textarea>
                                                        <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 25px; margin-left: 5px;" id="{{ questionNum.value }}-{{ answerNum.value }}" onclick="deleteElement('Answer-' + this.id)">✖</button>
                                                        <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                            <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                        </div>
                                                        <br>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "multiple" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                {% for answer_text, is_right in answer.items() %}
                                                    <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                        <label style="padding-right: 8px;" for="{{ question.ask }}">
                                                        {% if is_right %}
                                                            <input checked id="checkbox" type="checkbox" name="Right_Answer-{{ questionNum.value }}-{{ answerNum.value }}" value="{{ answer_text }}">
                                                        {% else %}
                                                            <input id="checkbox" type="checkbox" name="Right_Answer-{{ questionNum.value }} -{{ answerNum.value }}" value="{{ answer_text }}">
                                                        {% endif %}
                                                        </label>
                                                        <textarea maxlength="5000" required class="form-control langp" key="answer_text" rows="1" placeholder="Текст ответа" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer_text }}</textarea>
                                                        <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 25px; margin-left: 5px;" id="{{ questionNum.value }}-{{ answerNum.value }}" onclick="deleteElement('Answer-' + this.id)">✖</button>
                                                        <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                            <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                        </div>
                                                        <br>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "compliance" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                {% for question_text, answer_text in answer.items() %}
                                                    <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                        <textarea maxlength="5000" class="form-control langp" key="question_text" rows="1" placeholder="Текст вопроса" name="QuestionCom-{{ questionNum.value }}-{{ answerNum.value }}">{{ question_text }}</textarea>
                                                        <div style="margin-left: 5px; margin-right: 5px;">-</div>
                                                        <textarea maxlength="5000" required class="form-control langp" key="answer_text" rows="1" placeholder="Текст ответа" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer_text }}</textarea>
                                                        <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 45px; margin-left: 5px;" id="{{ questionNum.value }}-{{ answerNum.value }}" onclick="deleteElement('Answer-' + this.id)">✖</button>
                                                        <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                            <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                        </div>
                                                        <br>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "filling_gaps" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                    <div style="width: 147px;"><text class="lang" key="option">Вариант</text> [[<text id="Option-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer['mark'] }}</text>]]</div>
                                                    <textarea maxlength="5000" required class="form-control langp" key="answer_text" rows="1" placeholder="Текст ответа" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer['answer'] }}</textarea>
                                                    <div style="width: 70px; margin-left: 8px; margin-right: 4px;" class="lang" key="group_">Группа</div>
                                                    <select class="form-select" id="Group-{{ questionNum.value }}-{{ answerNum.value }}" name="Group-{{ questionNum.value }}-{{ answerNum.value }}" style="width: 60px;" >
                                                        <script>
                                                            alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
                                                            alphabet.forEach(elem =>{
                                                                select = document.getElementById("Group-{{ questionNum.value }}-{{ answerNum.value }}");
                                                                let option = document.createElement('option');
                                                                option.textContent = elem;
                                                                if(elem === `{{ answer['group'] }}`)
                                                                    option.setAttribute("selected", "selected")
                                                                select.appendChild(option);
                                                            })
                                                        </script>
                                                    </select>
                                                    <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 45px; margin-left: 5px;" id="{{ questionNum.value }}-{{ answerNum.value }}" onclick="deleteElement('Answer-' + this.id)">✖</button>
                                                    <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                        <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                    </div>
                                                    <br>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "drag_to_text" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                    <div style="width: 147px;"><text class="lang" key="option">Вариант</text> [[<text id="Option-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer['mark'] }}</text>]]</div>
                                                    <textarea maxlength="5000" required class="form-control langp" key="answer_text" rows="1" placeholder="Текст ответа" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer['answer'] }}</textarea>
                                                    <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 45px; margin-left: 5px;" id="{{ questionNum.value }}-{{ answerNum.value }}" onclick="deleteElement('Answer-' + this.id)">✖</button>
                                                    <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                        <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                    </div>
                                                    <br>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "free" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                <div style="display: flex;">
                                                    <textarea maxlength="5000" required id="freeAnswer" class="form-control langp" key="short_answer" placeholder="Краткий ответ" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}" rows="1">{{ answer }}</textarea>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "detailed_free" %}
                                            <textarea maxlength="15000" disabled class="form-control langp" key="long_answer" placeholder="Развернутый ответ" name="{{ question.ask }}" rows="8"></textarea>
                                        {% endif %}
                                    </div>

                                    {% if question.type == "compliance" %}
                                        <div style="color: gray; font-size: 14px;" class="lang to_del" key="compliance_note">*Примечание: если вы хотите добавить неверный ответ, то для пары вопрос-ответ поле с вопросом необходимо оставить пустым</div>
                                    {% elif question.type == "filling_gaps" or question.type == "drag_to_text" %}
                                        <div style="color: gray; font-size: 14px;" class="lang to_del" key="filling_gaps_note">*Примечание: текст вопроса должен содержать метки-заполнители, например [[1]], для обозначения местонахождения пропущенных слов</div>
                                    {% endif %}

                                    {% if question.type in ["solo", "multiple", "compliance", "filling_gaps", "drag_to_text", "markers_drag"] %}
                                        <div class="to_del">
                                            {% if question.shuffle == 'on' %}
                                                <input type="checkbox" checked style="margin-right: 10px; margin-top: 12px;" id="Shuffle-{{ questionNum.value }}" name="Shuffle-{{ questionNum.value }}">
                                            {% else %}
                                                <input type="checkbox" style="margin-right: 10px; margin-top: 12px;" id="Shuffle-{{ questionNum.value }}" name="Shuffle-{{ questionNum.value }}">
                                            {% endif %}
                                            <label style="padding-right: 8px;" for="Shuffle-{{ questionNum.value }}"><text class="lang" key="shuffle">Перемешивать варианты ответов между собой</text></label>
                                        </div>
                                    {% endif %}
                                    <br>
                                </div>
                                <div style="display: flex;">
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="add_answer" style="background-color:transparent; color:black;" type="button" id="{{ questionNum.value }}" onclick="addAnswerOnButtonClick('addAns-' + this.id)">Добавить ответ</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="delete_answer" style="background-color:red; color:white;" type="button" id="{{ questionNum.value }}" onclick="deleteElement('card-' + this.id)">Удалить вопрос</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <select class="form-select" width="20px" id="QT-{{ questionNum.value }}" name="QuestionType-{{ questionNum.value }}">
                                            {% if question.type == "single" %}
                                                <option selected class="lang" key="solo">Единственный ответ</option>
                                            {% else %}
                                                <option class="lang" key="solo">Единственный ответ</option>
                                            {% endif %}
                                            {% if question.type == "multiple" %}
                                                <option selected class="lang" key="multiple">Множественный ответ</option>
                                            {% else %}
                                                <option class="lang" key="multiple">Множественный ответ</option>
                                            {% endif %}
                                            {% if question.type == "compliance" %}
                                                <option selected class="lang" key="compliance">На соответствие</option>
                                            {% else %}
                                                <option class="lang" key="compliance">На соответствие</option>
                                            {% endif %}
                                            {% if question.type == "filling_gaps" %}
                                                <option selected class="lang" key="filling_gaps">Заполнение пропусков</option>
                                            {% else %}
                                                <option class="lang" key="filling_gaps">Заполнение пропусков</option>
                                            {% endif %}
                                            {% if question.type == "drag_to_text" %}
                                                <option selected class="lang" key="drag_to_text">Перетаскивание в текст</option>
                                            {% else %}
                                                <option class="lang" key="drag_to_text">Перетаскивание в текст</option>
                                            {% endif %}
                                            {% if question.type == "free" %}
                                                <option selected class="lang" key="free">Краткий свободный ответ</option>
                                            {% else %}
                                                <option class="lang" key="free">Краткий свободный ответ</option>
                                            {% endif %}
                                            {% if question.type == "detailed_free" %}
                                                <option selected class="lang" key="detailed_free">Свободный ответ</option>
                                            {% else %}
                                                <option class="lang" key="detailed_free">Свободный ответ</option>
                                            {% endif %}
                                            {% if question.type == "info" %}
                                                <option selected  class="lang" key="info_block">Информационный блок</option>
                                            {% else %}
                                                <option  class="lang" key="info_block">Информационный блок</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↑</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↓</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div style="padding-bottom: 10px; display: flex;">
                <button class="btn btn-primary lang" key="add_question"
                        id="addQuestion" style=
                        "background-color:green;" type="button">
                        Добавить вопрос
                </button>
                <button class="btn btn-primary lang" key="save_test" type="submit"
                        id="saveTest" style=
                        "background-color:yellowgreen; margin-left: 5px;">
                        Сохранить тест
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
    <!-- Scripts -->
    <script>
        let questions_count = {{ test.questions|length }}
    </script>
    <script type="module" src="/static/js/test_editor.js"></script>
    <script type="module" src="/static/js/upload_file_size_limit.js"></script>
{% endblock %}