{% extends 'base_aut.html' %}

{% block title %}
<title>Конструктор тестов</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang" key="test_constructor">
            Конструктор тестов
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item active lang" key="test_constructor" aria-current="page">Конструктор тестов</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">
            <textarea required class="form-control langp" key="test_name" maxlength="1000" placeholder="Название теста" name="testName" rows="1"></textarea>
            <hr>

            <div id="questionsList" style="padding-top: 8px;"></div>
            <hr>
            <div style="padding-bottom: 10px;">
                <button class="btn btn-primary lang" key="add_question"
                        id="addQuestion" style=
                        "background-color:green;" type="button">
                        Добавить вопрос
                    </button>
                <button class="btn btn-primary lang" key="save_test" type="submit"
                        id="saveTest" style=
                        "background-color:yellowgreen;">
                        Сохранить тест
                    </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
    <!-- Scripts -->
    <script type="module" src="/static/js/test_constructor.js"></script>
{% endblock %}