{% extends 'base_aut.html' %}

{% block title %}
<title>Тест</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ test.name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}/test_preview/{{ test_id }}"><text class="lang" key="test">Тест</text> «{{ test.name }}»</a></li>
            <li class="breadcrumb-item active lang" key="passing_the_test" aria-current="page">Прохождение теста</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">

            <div id="notes" class=
                "row container-fluid">
            </div>

            <div id="questionsList" style="padding-top: 8px;">
                {% set questionNum = namespace(value=0) %}
                {% for question in test.questions %}
                    {% set questionNum.value = questionNum.value + 1 %}
                    <div style="display: flex; padding-bottom: 20px;">
                        <div class="card" style="background:#d9d9d9; height: 115px; margin-right: 10px;">
                            <div class="card-body">
                                <div class="form-group">
                                    {% if question.type == "info" %}
                                        <p class="lang" key="information">Информация</p>
                                    {% else %}
                                        <p><text class="lang" key="question">Вопрос</text> №{{ questionNum.value }}</p>
                                        <p><text class="lang" key="score">Баллы:</text> {{ question.score }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card" style="background:#bde0ff; flex: 1;">
                            <div class="card-body" id="content">
                                <div class="form-group" id="scoreCount">
                                    {% if question.type not in ("filling_gaps", "drag_to_text") %}
                                        <p class="fromMarkdown">{{ question.ask }}</p>
                                    {% endif %}
                                    <!--<input type="hidden" name="ask-{{ questionNum.value }}" value="{{ question.ask }}">-->
                                    {% if question.type == "solo" %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% for answer_text, is_right in answer.items() %}
                                                <div style="display: flex;">
                                                    <input id="checkbox" type="radio" name="{{ question.ask }}" value="{{ answer_text }}">
                                                    <label class="fromMarkdown" style="padding-left: 5px;" for="{{ question.ask }}">{{ answer_text }}</label>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "multiple" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% set answerNum.value = answerNum.value + 1 %}
                                            {% for answer_text, is_right in answer.items() %}
                                                <div style="display: flex;">
                                                    <input id="checkbox" type="checkbox" name="{{ question.ask }}-{{ answerNum.value }}" value="{{ answer_text }}">
                                                    <label class="fromMarkdown" style="padding-left: 5px;" for="{{ question.ask }}">{{ answer_text }}</label>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "compliance" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% for question_text in answer.keys() %}
                                                <div style="display: inline-block;">
                                                    <label for="Select-{{ questionNum.value }}-{{ answerNum.value }}" class="fromMarkdown">{{ question_text }}</label>
                                                    <select id="Select-{{ questionNum.value }}-{{ answerNum.value }}" name="Select-{{ questionNum.value }}-{{ answerNum.value }}">
                                                        <option selected></option>
                                                        {% for answer_comp in question.answers %}
                                                            {% for answer_text in answer_comp.values() %}
                                                                <option>{{ answer_text }}</option>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "filling_gaps" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <p class="fromMarkdown" id="Filling-{{ questionNum.value }}">{{ question.ask }}</p>
                                        <script>
                                            let select_elem, group, mark;
                                            let filling = document.getElementById('Filling-{{ questionNum.value }}');
                                            {% for answer_main in question.answers %}
                                                group = `{{ answer_main['group'] }}`;
                                                mark = `{{ answer_main['mark'] }}`;
                                                select_elem = '<select><option selected></option>';
                                                {% for answer in question.answers %}
                                                    if (group === `{{ answer['group'] }}`){
                                                        select_elem += `<option>{{ answer['answer'] }}</option>`
                                                    }
                                                {% endfor %}
                                                select_elem += `</select>`
                                                filling.textContent = filling.textContent.replace(`[[` + mark + `]]`, select_elem)
                                            {% endfor %}
                                        </script>
                                    {% endif %}

                                    {% if question.type == "drag_to_text" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <p class="fromMarkdown" id="DragToText-{{ questionNum.value }}">{{ question.ask }}</p>
                                        <script>
                                            let mark_d;
                                            let filling_d = document.getElementById('DragToText-{{ questionNum.value }}');
                                            {% for answer in question.answers %}
                                                mark_d = `{{ answer['mark'] }}`;
                                                filling_d.textContent = filling_d.textContent.replace(`[[` + mark_d + `]]`, `<input>`)
                                            {% endfor %}
                                        </script>
                                        <hr>
                                        <p class="fromMarkdown" id="DragToText-answers-{{ questionNum.value }}"></p>
                                        <script>
                                            let answers_d = document.getElementById('DragToText-answers-{{ questionNum.value }}');
                                            {% for answer in question.answers %}
                                                answers_d.textContent += `{{ answer['answer'] }}<br>`
                                            {% endfor %}
                                        </script>
                                    {% endif %}

                                    {% if question.type == "free" %}
                                        <hr>
                                        <!-- {% for answer in question.answers %} -->
                                            <div style="display: flex;">
                                                <textarea id="freeAnswer" class="form-control" name="{{ question.ask }}" rows="1"></textarea>
                                            </div>
                                        <!-- {% endfor %} -->
                                    {% endif %}

                                    {% if question.type == "detailed_free" %}
                                        <hr>
                                        <textarea class="form-control" name="{{ question.ask }}" rows="8"></textarea>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="time" value="{{ time }}">
            <div style="padding-bottom: 10px; display: flex;">
                <button class="btn btn-primary lang" key="complete_test"
                        id="endTest" style=
                        "background-color:green;" type="submit">
                        Завершить тест
                    </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
    <script type="module" src="/static/js/markdown.js"></script>
    <script>
        let select, option;
    </script>
{% endblock %}