{% extends 'base_aut.html' %}

{% block title %}
<title>Тест</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang" key="test_editor">
            Редактор тестов
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course_editor/{{ course.course_id }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item active" aria-current="page"><text class="lang" key="test_editor_of">Редактор теста</text> «{{ test.name }}»</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">
        <textarea maxlength="1000" required class="form-control" placeholder="Название теста" name="testName" rows="1">{{ test.name }}</textarea>
        <hr>

            <div id="questionsList" style="padding-top: 8px;">
                {% set questionNum = namespace(value=0) %}
                {% for question in test.questions %}
                    {% set questionNum.value = questionNum.value + 1 %}
                    <div style="display: flex; padding-bottom: 20px;" id="card-{{ questionNum.value }}" class="question_div">
                        <div class="card" style="background:#d9d9d9; height: 115px; margin-right: 10px;">
                            <div class="card-body">
                                <div class="form-group">
                                    <p><text class="lang" key="question">Вопрос</text> №{{ questionNum.value }}</p>
                                    <label for="score-{{questionNum.value}}" class="lang" key="score">Баллы: </label>
                                    <input id="score-{{questionNum.value}}" name="score-{{questionNum.value}}" value="{{ question.score }}" style="width:40px;">
                                </div>
                            </div>
                        </div>

                        <div class="card" style="background:#bde0ff; flex: 1;">
                            <div style="height: 35px; justify-content: center; display: flex;" id="dnd-{{ questionNum.value }}" class="{{ questionNum.value }}" draggable="true" >
                                <img src="/static/img/drag_n_drop.png" style="height: 35px;" class="{{ questionNum.value }}">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    {% if question.type == "info" %}
                                        <textarea maxlength="15000" required rows="8" class="form-control" name="Question-{{ questionNum.value }}" id="ask-{{ questionNum.value }}">{{ question.ask }}</textarea>
                                    {% else %}
                                        <textarea maxlength="5000" required rows="1" class="form-control" name="Question-{{ questionNum.value }}" id="ask-{{ questionNum.value }}">{{ question.ask }}</textarea>
                                    {% endif %}
                                    <hr>
                                    <div id="addAns-{{ questionNum.value }}" class="row container-fluid" class="answer_div">
                                        {% if question.type == "solo" %}
                                        {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                            {% set answerNum.value = answerNum.value + 1 %}
                                                {% for answer_text, is_right in answer.items() %}
                                                    <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                        <label style="padding-right: 8px;" for="{{ question.ask }}">
                                                        {% if is_right %}
                                                            <input checked id="checkbox" type="radio" name="Right_Answer-{{ questionNum.value }}" value="{{ answerNum.value }}">
                                                        {% else %}
                                                            <input id="checkbox" type="radio" name="Right_Answer-{{ questionNum.value }}" value="{{ answerNum.value }}">
                                                        {% endif %}
                                                        </label>
                                                        <textarea maxlength="5000" required class="form-control" rows="1" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer_text }}</textarea>
                                                        <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 25px; margin-left: 5px;" onclick="deleteElement('delAns-' + this.id)">✖</button>
                                                        <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                            <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                        </div>
                                                    </div>
                                                    <br>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "multiple" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                {% for answer_text, is_right in answer.items() %}
                                                    <div style="padding-bottom: 10px; display: flex; align-items: center;" id="Answer-{{ questionNum.value }}-{{ answerNum.value }}" class="answer_div">
                                                        <label style="padding-right: 8px;" for="{{ question.ask }}">
                                                        {% if is_right %}
                                                            <input checked id="checkbox" type="checkbox" name="Right_Answer-{{ questionNum.value }}-{{ answerNum.value }}" value="{{ answer_text }}">
                                                        {% else %}
                                                            <input id="checkbox" type="checkbox" name="Right_Answer-{{ questionNum.value }} -{{ answerNum.value }}" value="{{ answer_text }}">
                                                        {% endif %}
                                                        </label>
                                                        <textarea maxlength="5000" required class="form-control" rows="1" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}">{{ answer_text }}</textarea>
                                                        <button class="btn" type="button" style="background-color:red; color:white; padding: 4px; width: 25px; margin-left: 5px;" onclick="deleteElement('delAns-' + this.id)">✖</button>
                                                        <div style="height: 30px; justify-content: center; display: flex;" class="answer_div">
                                                            <img src="/static/img/drag_n_drop.png" style="height: 30px; transform: rotate(90deg);" draggable="true" id="{{ questionNum.value }}-{{ answerNum.value }}" class="dnd answer_div">
                                                        </div>
                                                    </div>
                                                    <br>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "free" %}
                                            {% set answerNum = namespace(value=0) %}
                                            {% for answer in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                <div style="display: flex;">
                                                    <textarea maxlength="5000" required id="freeAnswer" class="form-control" name="Answer-{{ questionNum.value }}-{{ answerNum.value }}" rows="1">{{ answer }}</textarea>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if question.type == "detailed_free" %}
                                            <textarea maxlength="15000" disabled class="form-control" name="{{ question.ask }}" rows="8"></textarea>
                                        {% endif %}
                                    </div>
                                    <br>
                                </div>
                                <div style="display: flex;">
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="add_answer" style="background-color:transparent; color:black;" type="button" id="{{ questionNum.value }}" onclick="addAnswerOnButtonClick('addAns-' + this.id)">Добавить ответ</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button class="btn lang" key="delete_answer" style="background-color:red; color:white;" type="button" id="{{ questionNum.value }}" onclick="deleteElement('card-' + this.id)">Удалить вопрос</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <select class="form-select" width="20px" id="QT-{{ questionNum.value }}" name="QuestionType-{{ questionNum.value }}">
                                            {% if question.type == "single" %}
                                                <option selected class="lang" key="solo">Единственный ответ</option>
                                            {% else %}
                                                <option class="lang" key="solo">Единственный ответ</option>
                                            {% endif %}
                                            {% if question.type == "multiple" %}
                                                <option selected class="lang" key="multiple">Множественный ответ</option>
                                            {% else %}
                                                <option class="lang" key="multiple">Множественный ответ</option>
                                            {% endif %}
                                            {% if question.type == "free" %}
                                                <option selected class="lang" key="free">Краткий свободный ответ</option>
                                            {% else %}
                                                <option class="lang" key="free">Краткий свободный ответ</option>
                                            {% endif %}
                                            {% if question.type == "detailed_free" %}
                                                <option selected class="lang" key="detailed_free">Свободный ответ</option>
                                            {% else %}
                                                <option class="lang" key="detailed_free">Свободный ответ</option>
                                            {% endif %}
                                            {% if question.type == "info" %}
                                                <option selected  class="lang" key="info_block">Информационный блок</option>
                                            {% else %}
                                                <option  class="lang" key="info_block">Информационный блок</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↑</button>
                                    </div>
                                    <div style="padding-left: 5px;">
                                        <button type="button" class="btn" style="background-color:white; color:black; padding: 4px; width: 35px; height: 35px; font-size:20px;">↓</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div style="padding-bottom: 10px; display: flex;">
                <button class="btn btn-primary lang" key="add_question"
                        id="addQuestion" style=
                        "background-color:green;" type="button">
                        Добавить вопрос
                </button>
                <button class="btn btn-primary lang" key="save_test" type="submit"
                        id="saveTest" style=
                        "background-color:yellowgreen; margin-left: 5px;">
                        Сохранить тест
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
    <!-- Scripts -->
    <script>
        let questions_count = {{ test.questions|length }}
    </script>
    <script type="text/javascript" src="/static/js/test_editor.js"></script>
{% endblock %}