{% extends 'base_aut.html' %}

{% block title %}
<title>Тест</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="container m-5" style="background-color: white; border-radius: 10px">
        <span class="fs-5 row m-3 justify-content-start lang">
            {{ test.name }}
        </span>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" style="margin-left: 15px;">
            <li class="breadcrumb-item"><a href="/courses/{{ current_user.get_id() }}" class="lang" key="courses">Курсы</a></li>
            <li class="breadcrumb-item"><a href="/course_preview/{{ course.course_id }}"><text class="lang" key="course">Курс</text> «{{ course.name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}" class="lang" key="course_content">Содержание курса</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}#{{ unit_name }}"><text class="lang" key="unit">Раздел</text> «{{ unit_name }}»</a></li>
            <li class="breadcrumb-item"><a href="/course/{{ course.course_id }}/test_preview/{{ test_id }}"><text class="lang" key="test">Тест</text> «{{ test.name }}»</a></li>
            <li class="breadcrumb-item active lang" key="passing_the_test" aria-current="page">Прохождение теста</li>
          </ol>
        </nav>
        <div class="row border"></div>
        <br>

        <form action="" method="POST">

            <div id="notes" class=
                "row container-fluid">
            </div>

            <div id="questionsList" style="padding-top: 8px;">
                {% set questionNum = namespace(value=0) %}
                {% for question in test.questions %}
                    {% set questionNum.value = questionNum.value + 1 %}
                    <div style="display: flex; padding-bottom: 20px;">
                        <div class="card" style="background:#d9d9d9; height: 115px; margin-right: 10px;">
                            <div class="card-body">
                                <div class="form-group">
                                    {% if question.type == "info" %}
                                        <p class="lang" key="information">Информация</p>
                                    {% else %}
                                        <p><text class="lang" key="question">Вопрос</text> №{{ questionNum.value }}</p>
                                        <p><text class="lang" key="score">Баллы:</text> {{ question.score }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card" style="background:#bde0ff; flex: 1;">
                            <div class="card-body" id="content">
                                <div class="form-group" id="scoreCount">
                                    {% if question.type not in ("filling_gaps", "drag_to_text") %}
                                        <p class="fromMarkdown">{{ question.ask }}</p>
                                    {% endif %}
                                    <!--<input type="hidden" name="ask-{{ questionNum.value }}" value="{{ question.ask }}">-->
                                    {% if question.type == "solo" %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% for answer_text, is_right in answer.items() %}
                                                <div style="display: flex;">
                                                    <input id="checkbox" type="radio" name="{{ question.ask }}" value="{{ answer_text }}">
                                                    <label class="fromMarkdown" style="padding-left: 5px;" for="{{ question.ask }}">{{ answer_text }}</label>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "multiple" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% set answerNum.value = answerNum.value + 1 %}
                                            {% for answer_text, is_right in answer.items() %}
                                                <div style="display: flex;">
                                                    <input id="checkbox" type="checkbox" name="{{ question.ask }}-{{ answerNum.value }}" value="{{ answer_text }}">
                                                    <label class="fromMarkdown" style="padding-left: 5px;" for="{{ question.ask }}">{{ answer_text }}</label>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "compliance" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <hr>
                                        {% for answer in question.answers %}
                                            {% for question_text in answer.keys() %}
                                            {% set answerNum.value = answerNum.value + 1 %}
                                                <div style="display: inline-block;">
                                                    <label for="Select-{{ questionNum.value }}-{{ answerNum.value }}" class="fromMarkdown">{{ question_text }}</label>
                                                    <select id="Select-{{ questionNum.value }}-{{ answerNum.value }}" name="{{ question.ask }}-{{ question_text }}">
                                                        <option selected></option>
                                                        {% for answer_comp in question.answers %}
                                                            {% for answer_text in answer_comp.values() %}
                                                                <option>{{ answer_text }}</option>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if question.type == "filling_gaps" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <p class="fromMarkdown" id="Filling-{{ questionNum.value }}">{{ question.ask }}</p>
                                        <script>
                                            let select_elem, group, mark;
                                            let filling = document.getElementById('Filling-{{ questionNum.value }}');
                                            {% for answer_main in question.answers %}
                                                {% set answerNum.value = answerNum.value + 1 %}
                                                group = `{{ answer_main['group'] }}`;
                                                mark = `{{ answer_main['mark'] }}`;
                                                <!-- {{ question.ask }}-{{ answerNum.value }} -->
                                                <!-- Filling-{{ questionNum.value }}-{{ answerNum.value }} -->
                                                select_elem = '<select name="Filling-{{ questionNum.value }}-' + group + '-' + mark + '"><option selected></option>';
                                                {% for answer in question.answers %}
                                                    if (group === `{{ answer['group'] }}`){
                                                        select_elem += `<option>{{ answer['answer'] }}</option>`
                                                    }
                                                {% endfor %}
                                                select_elem += `</select>`
                                                filling.textContent = filling.textContent.replace(`[[` + mark + `]]`, select_elem)
                                            {% endfor %}
                                        </script>
                                    {% endif %}

                                    {% if question.type == "drag_to_text" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <p class="fromMarkdown" id="DragToText-{{ questionNum.value }}" style="display: flex;text-align:justify;">{{ question.ask }}</p>
                                        <script>
                                            let mark_d;
                                            let filling_d = document.getElementById('DragToText-{{ questionNum.value }}');
                                            {% for answer in question.answers %}
                                                mark_d = `{{ answer['mark'] }}`;
                                                    <!-- DragWord-{{ questionNum.value }}-`+ mark_d +` -->
                                                filling_d.textContent = filling_d.textContent.replace(`[[` + mark_d + `]]`, `<div id="DragWord-{{ questionNum.value }}-`+ mark_d +`" style="margin-left: 5px; margin-right: 5px;"><input disabled id="Drop-{{ questionNum.value }}" class="Drop" style="width: 70px; margin: 0 5px 0 5px;"></div>`)
                                            {% endfor %}
                                        </script>
                                        <hr>
                                        <div id="DragToText-answers-{{ questionNum.value }}" class="DragToText-answers" style="display: flex;"></div>
                                        <script>
                                            function addDragndropDesignVoid(div) {
                                                div.addEventListener(`mouseover`, (evt) => {
                                                  document.body.style.cursor = 'move';
                                                })
                                                div.addEventListener(`mouseout`, (evt) => {
                                                  document.body.style.cursor = '';
                                                })
                                                div.addEventListener(`dragstart`, (evt) => {
                                                  evt.dataTransfer.setDragImage(div, div.offsetWidth / 2, div.offsetHeight / 2.4)
                                                  setTimeout(() => {
                                                      div.classList.add(`selected`);
                                                      div.style.visibility = "hidden"
                                                  }, 0);
                                                })
                                                div.addEventListener(`dragend`, (evt) => {
                                                  setTimeout(() => {
                                                      div.classList.remove(`selected`);
                                                      div.style.removeProperty("visibility")
                                                  }, 0);
                                                });
                                            }

                                            function addDragoverEventListener(dragndropArea, type) {
                                                dragndropArea.addEventListener(`dragover`, (evt) => {
                                                    evt.preventDefault();

                                                    let activeElement = document.getElementById("questionsList").querySelector(`.selected`);
                                                    let currentElement = evt.target;
                                                    let isMoveable = activeElement !== currentElement &&
                                                        (currentElement.classList.contains("Drop") || currentElement.classList.contains("DragToText-answers") || currentElement.classList.contains("DragAndDrop"));
                                                    if (!isMoveable)
                                                        return;
                                                    let is_question = false;
                                                    let input_to_del = activeElement.getElementsByTagName('input');
                                                    if (input_to_del[0] !== undefined){
                                                        input_to_del[0].remove();
                                                        is_question = true
                                                    }
                                                    input = document.createElement("input");
                                                    input.setAttribute('id', "Drop-{{ questionNum.value }}");
                                                    input.setAttribute('class', "Drop");
                                                    input.setAttribute('disabled', "disabled");
                                                    input.setAttribute('style', "width: 70px; margin: 0 5px 0 5px;");
                                                    addDragoverEventListener(input, "question");
                                                    if (type === "question") {
                                                        let hidden_input = document.createElement("input");
                                                        hidden_input.setAttribute('name', currentElement.parentElement.id);
                                                        hidden_input.setAttribute('hidden', "true");
                                                        hidden_input.setAttribute('value', activeElement.textContent);
                                                        activeElement.appendChild(hidden_input)
                                                        if (is_question){
                                                            activeElement.replaceWith(input)
                                                        }
                                                        currentElement.replaceWith(activeElement);
                                                    } else {
                                                        input = document.createElement("input");
                                                        input.setAttribute('id', "Drop-{{ questionNum.value }}");
                                                        input.setAttribute('class', "Drop");
                                                        input.setAttribute('disabled', "disabled");
                                                        input.setAttribute('style', "width: 70px; margin: 0 5px 0 5px;");
                                                        addDragoverEventListener(input, "question");
                                                        let answers = document.getElementById("DragToText-answers-{{ questionNum.value }}")
                                                        if (!answers.contains(activeElement))
                                                            activeElement.replaceWith(input)
                                                        answers.appendChild(activeElement);
                                                    }
                                                });
                                            }

                                            let answers_d = document.getElementById('DragToText-answers-{{ questionNum.value }}');
                                            addDragoverEventListener(answers_d, "answer");
                                            let dnd;
                                            {% for answer in question.answers %}
                                                dnd = document.createElement('div');
                                                dnd.setAttribute('id', "dnd-{{ questionNum.value }}-{{ answerNum.value }}");
                                                dnd.setAttribute('style', "background: white; stroke: gray; margin: 0 5px 0 5px; padding: 5px;");
                                                dnd.setAttribute('draggable', "true");
                                                dnd.setAttribute('class', "DragAndDrop");
                                                dnd.textContent = "{{ answer['answer'] }}";
                                                answers_d.appendChild(dnd);
                                                // answers_d.textContent += `<div id="dnd-{{ questionNum.value }}-{{ answerNum.value }}" style="background: white; stroke: gray; margin-right: 15px; padding: 5px;">{{ answer['answer'] }}</div>`
                                                // elem = document.getElementById("dnd-{{ questionNum.value }}-{{ answerNum.value }}")
                                                addDragndropDesignVoid(dnd);
                                                {% set answerNum.value = answerNum.value + 1 %}
                                            {% endfor %}
                                            document.addEventListener("DOMContentLoaded", function(event) {
                                            for (const el of document.getElementsByClassName("Drop"))
                                              addDragoverEventListener(el, "question");
                                            });
                                        </script>
                                    {% endif %}

                                    {% if question.type == "markers_drag" %}
                                        {% set answerNum = namespace(value=0) %}
                                        <span class="fs-5 row m-3 justify-content-start lang">
                                            <div class="flex-column">
                                                <div id="canvasContainer-{{ questionNum.value }}">
                                                    <canvas id="canvas-{{ questionNum.value }}" width="1036px" height="584px"></canvas>
                                                </div>
                                                <script>
                                                    image{{ questionNum.value }} = new Image();
                                                    image{{ questionNum.value }}.src = '/static/users_files/{{ test_id }}test/{{ question.file }}';
                                                    canvas{{ questionNum.value }} = document.getElementById('canvas-{{ questionNum.value }}');
                                                    divCanv = document.getElementById('canvasContainer-{{ questionNum.value }}')
                                                    new_width = divCanv.parentElement.offsetWidth - 26;
                                                    image{{ questionNum.value }}.onload = function () {
                                                        let height = this.height;
                                                        let width = this.width;
                                                        if (width > new_width) {
                                                            let ratio = height / width;
                                                            width = new_width;
                                                            height = width * ratio;
                                                            this.style.height = height;
                                                            this.style.width = width;
                                                        }
                                                        canvas{{ questionNum.value }}.height = height;
                                                        canvas{{ questionNum.value }}.width = width;
                                                        divCanv.setAttribute("height", height + "px");
                                                        divCanv.setAttribute("width", width + "px");
                                                        let ctx = canvas{{ questionNum.value }}.getContext("2d");
                                                        ctx.drawImage(image{{ questionNum.value }}, 0, 0, width, height);
                                                        canvas{{ questionNum.value }}.setAttribute("style", "border:1px solid red; background-image: None;");
                                                    }
                                                </script>
                                                <style>
                                                    #canvas-{{ questionNum.value }}{
                                                        border:1px solid red;
                                                        background-image: url("/static/img/nophoto.png");
                                                    }
                                                </style>
                                            </div>
                                        </span>
                                        <hr>
                                        <div id="MarkersDrag-answers-{{ questionNum.value }}" class="MarkersDrag-answers" style="display: flex;"></div>

                                    <script>
                                        var dragMaster = (function() {

                                        var dragObject

                                        function mouseUp(){
                                            dragObject = null

                                            // очистить обработчики, т.к. перенос закончен
                                            document.onmousemove = null
                                            document.onmouseup = null
                                            document.ondragstart = null
                                            document.body.onselectstart = null
                                        }

                                        function mouseMove(e){

                                            canvas = document.getElementById('canvas-{{ questionNum.value }}');
                                            let offsetY = 48
                                            let offsetX = 25
                                            let pointerOffsetX = 53
                                            let pointerOffsetY = 75
                                            window.offsetX = parseInt(canvas.getBoundingClientRect().left - offsetX)
                                            window.offsetY = parseInt(canvas.getBoundingClientRect().top - offsetY)
                                            let y_top = e.pageY - window.offsetY
                                            let x_left = e.pageX - window.offsetX
                                            with(dragObject.style) {
                                                position = 'absolute'
                                                top = y_top + 'px';
                                                left = x_left + 'px';
                                                dragObject.lastChild.value = (x_left  - pointerOffsetX) + ";" + (y_top - pointerOffsetY)
                                                if(dragObject.firstChild.nextElementSibling.attributes['hidden']) {
                                                    dragObject.firstChild.nextElementSibling.removeAttribute('hidden')
                                                    dragObject.firstChild.nextElementSibling.style['bottom'] = (parseInt(dragObject.firstChild.nextElementSibling.style['bottom']) - 24) + "px";
                                                    dragObject.firstChild.nextElementSibling.style['left'] = (parseInt(dragObject.firstChild.nextElementSibling.style['left']) - 29) + "px";
                                                }
                                            }
                                            return false
                                        }

                                        function mouseDown(e) {
                                            if (e.which!=1) return

                                            dragObject  = this

                                            // эти обработчики отслеживают процесс и окончание переноса
                                            document.onmousemove = mouseMove
                                            document.onmouseup = mouseUp

                                            // отменить перенос и выделение текста при клике на тексте
                                            document.ondragstart = function() { return false }
                                            document.body.onselectstart = function() { return false }

                                            return false
                                        }

                                        return {
                                            makeDraggable: function(element){
                                                element.onmousedown = mouseDown
                                            }
                                        }

                                    }())

                                    function DragObject(element) {
                                        element.dragObject = this
                                        dragMaster.makeDraggable(element)
                                    }
                                    </script>

                                    <script>
                                        answers_m = document.getElementById("MarkersDrag-answers-{{ questionNum.value }}")
                                        {% for answer in question.answers %}
                                            input = document.createElement("input");
                                            input.setAttribute('id', "MarkerDrop-{{ questionNum.value }}-{{ answer['marker'] }}");
                                            input.setAttribute('name', "MarkerDrop-{{ questionNum.value }}-{{ answer['marker'] }}");
                                            input.setAttribute('class', "Drop");
                                            //input.setAttribute('disabled', "disabled");
                                            input.setAttribute('hidden', "hidden");
                                            input.setAttribute('style', "width: 70px; margin: 0 5px 0 5px;");
                                            dnd = document.createElement('div');
                                            dnd.setAttribute('id', "dnd-{{ questionNum.value }}-{{ answerNum.value }}");
                                            dnd.setAttribute('style', "background: white; outline-color: black; outline-width: 1px; outline: solid; border-radius: 2px; margin: 0 5px 0 5px; padding: 5px;");
                                            dnd.setAttribute('draggable', "true");
                                            dnd.setAttribute('class', "DragAndDrop");
                                            dnd.textContent = "{{ answer['marker'] }}";
                                            pointer = document.createElement('div');
                                            pointer.setAttribute('style', "background: transparent; outline-color: black; border:2px solid white; outline-width: 1px; outline: solid; border-radius: 60px; position: absolute; font-size:8px; padding-left: 3px; padding-right: 3px; left: 15px; bottom:65px;");
                                            pointer.setAttribute('hidden', "hidden");
                                            pointer.textContent = "ᅠ";
                                            dnd.appendChild(pointer);
                                            dnd.appendChild(input);
                                            answers_m.appendChild(dnd);
                                            // answers_d.textContent += `<div id="dnd-{{ questionNum.value }}-{{ answerNum.value }}" style="background: white; stroke: gray; margin-right: 15px; padding: 5px;">{{ answer['answer'] }}</div>`
                                            // elem = document.getElementById("dnd-{{ questionNum.value }}-{{ answerNum.value }}")
                                            // addDragndropDesignVoid(dnd);
                                            new DragObject(dnd);
                                            {% set answerNum.value = answerNum.value + 1 %}
                                        {% endfor %}
                                    </script>
                                    {% endif %}

                                    {% if question.type == "free" %}
                                        <hr>
                                        <!-- {% for answer in question.answers %} -->
                                            <div style="display: flex;">
                                                <textarea id="freeAnswer" class="form-control" name="{{ question.ask }}" rows="1"></textarea>
                                            </div>
                                        <!-- {% endfor %} -->
                                    {% endif %}

                                    {% if question.type == "detailed_free" %}
                                        <hr>
                                        <textarea class="form-control" name="{{ question.ask }}" rows="8"></textarea>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="time" value="{{ time }}">
            <div style="padding-bottom: 10px; display: flex;">
                <button class="btn btn-primary lang" key="complete_test"
                        id="endTest" style=
                        "background-color:green;" type="submit">
                        Завершить тест
                    </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
    <script type="module" src="/static/js/markdown.js"></script>
    <script type="module" src="/static/js/test_constructor_functions.js"></script>
    <script>
        let select, option;
    </script>
{% endblock %}